
<div class="base-container">
  <div class="row no-margin" style="margin-bottom: 20px">
    <span class="normal-title">已请求撮合项目列表</span>
  </div>
  <div class="row letter-list-title" ng-if="vm.lists.length">
    <div class="col-md-4 -align-center">
      <p>项目名称</p>
    </div>
    <div class="col-md-4">
      <p>联系时间</p>
    </div>
    <div class="col-md-4">
      <p>联系方式</p>
    </div>
  </div>
  <div class="spinner" ng-if="!vm.lists">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>
  <div class="row" ng-if="vm.lists && !vm.lists.length">
    <div class="static-box">
      <p>暂时没有信息</p>
    </div>
  </div>
  <div class="row letter-list" ng-if="vm.lists.length" ng-repeat="i in vm.lists track by $index" style="margin-top: 10px;margin-left: 0;margin-right: 0;">
    <div class="col-md-4 letter-theme -align-center">
      <a ui-sref="app.company.show({id: i.requestplanid, requesttype: i.requesttype})">{{i.requestplanname}}</a>
    </div>
    <div class="col-md-4">
      <p>{{i.createtime}}</p>
    </div>
    <div class="col-md-4">
      <p>请求撮合沟通</p>
    </div>
  </div>
  <nav style="padding-bottom: 20px" boundary-link-numbers="true" ng-if="vm.lists.length">
    <ul class="pagination pull-right">
      <li><a ng-click="vm.first()" ng-disabled="vm.pageList.currentPage === 1"
             ng-class="{'disabled': vm.pageList.currentPage === 1}">首页</a></li>
      <li ng-repeat="i in vm.pageArr" ng-click="vm.filterPage(i)"><a
        ng-class="{'filter-active': vm.pageList.currentPage == i}">{{i}}</a></li>
      <li><a ng-click="vm.last()" ng-disabled="vm.pageList.currentPage === vm.pageArr.length"
             ng-class="{'disabled': vm.pageList.currentPage === vm.pageArr.length}">末页</a></li>
    </ul>
  </nav>
</div>
