body, body.full-height-layout #page-wrapper, body.full-height-layout #wrapper, html {
  height: 100%;
}
body{
  font-family: "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.white-center{
  text-align: center;
  color: #FFF;
}
.no-padding{
  padding: 0;
}.no-padding-left{
  padding-left: 0;
 }
 .no-padding-right{
   padding-right: 0;
 }
 .base-container{
   width: 1200px;
   margin: 0 auto;
   padding: 10px 0;
   overflow: hidden;
 }
 .form-group{
   padding: 15px 0;
   border-bottom: 1px dashed #EEE;
   margin-bottom: 0;
 }
 .btn-primary{
   background-color: #3285ff;
   border-color: #3285ff;
 }
 .normal-weight{
   font-weight: 400;
 }
