.company-menu {
  ul {
    li {
      float: left;
      height: 58px;
      cursor: pointer;
      a {
        height: 100%;
        padding: 0 30px;
        color: #FFF;
        font-size: 16px;
        display: inline-block;
        line-height: 58px;
      }
    }
  }
}

.soft-list {
  border-bottom: 1px solid #eee;
  padding: 20px 0;
  //padding-left: 20px;
  ul {
    li {
      float: left;
    }
  }
}
//.soft-list:hover{
//  box-shadow: 3px 3px 8px #eee;
//  border: 1px solid #eee;
//}

.overflow-p {
  max-height: 40px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.soft-filter{
  p{
    span{
      padding: 0 20px;
      display: inline-block;
    }
  }
  ul{
    float: left;
    margin: 5px 0;
    li{
      width: 150px;
      cursor: pointer;
      span{
        padding: 0 20px;
      }
    }
    li:nth-child(1){
      width: 170px;
      color: #4d4d4d;
      font-weight: 700;
      padding: 0 10px;
      text-align: right;
    }
    li:nth-child(2){
      width: 80px;
    }
  }
  .dropdown-menu{
    left: -300px !important;
    li{
      width: inherit !important;
    }
    li:nth-child(2){
      display: none;
    }
  }
}
.pagination{
  li{
    cursor: pointer;
  }
}

#div1{
  width: 40px;
  height: 25px;
  border-radius: 50px;
  position: relative;
}
#div2{
  width: 20px;
  height: 20px;
  border-radius: 48px;
  position: absolute;
  background: white;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
}
.open1{
  background: rgba(0,184,0,0.8);
}
.open2{
  top: 2px;
  right: 1px;
}
.close1{
  background: rgba(255,255,255,0.4);
  border:3px solid rgba(0,0,0,0.15);
  border-left: transparent;
}
.close2{
  left: 0px;
  top: 0px;
  border:2px solid rgba(0,0,0,0.1);
}
