$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower


// Variables, Mixins

@import "base";
@import "public";
@import "login";

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  padding: 6px;
}
.clockpicker-popover {
  z-index: 3000;
}
.del-img {
  position: relative;
  display: inline-block;
  border: 1px solid #e8e8e8;
  padding: 5px;
  .btn {
    position: absolute;
    top: 0;
    right: 0;
  }
}
.border-default {
  border: 1px solid #e8e8e8;
}
.ct-chart-pie .ct-label {
  fill: rgba(255,255,255, 1);
  font-size: 20px;
  color: white;
  font-weight: bold;
}
