<table class="table table-bordered table-striped text-center maptable">
  <tbody>
    <tr>
      <td rowspan="6" class="leftTitle" width="10%">主要下滑区域</td>
    </tr>
  <tr ng-repeat="data in downdata">
    <td>{{data.name}}</td>
    <td>{{!data.value?'--':data.value+'%'}}</td>
  </tr>
  <tr>
    <td rowspan="6" class="leftTitle" width="10%">主要上升区域</td>
  </tr>
  <tr ng-repeat="data1 in updata">
    <td>{{data1.name}}</td>
    <!-- <td>{{data1.value.toFixed(2)}}%</td> -->
    <td>{{!data1.value?'--':data1.value+'%'}}</td>
  </tr>
  </tbody>
</table>
