<div class="base-container">
  <div class="row no-margin">
    <span class="normal-title" ng-if="vm.user.type === 0 && vm.user.basetype === 0">已发布项目</span>
    <span class="normal-title" ng-if="vm.user.type === 1 || vm.user.basetype === 1">已接收项目</span>
    <div class="pull-right" ng-if="vm.user.type === 0 && vm.user.basetype === 0">
      <div class="btn btn-danger" ui-sref="app.manage.company.publish">发布需求</div>
    </div>
  </div>
  <div class="row no-margin soft-list" ui-sref="app.company.show({id: i})" ng-repeat="i in vm.lists">
    <soft lists="i"></soft>
  </div>
  <div ng-if="vm.user.type === 0 && vm.user.basetype === 0">
    <div class="pull-right" style="color: red;cursor: pointer;margin-top: 20px" ui-sref="app.manage.company.more">更多 >></div>
  </div>
</div>
