<div class="base-container">
  <div class="row no-margin">
    <span class="normal-title" ng-if="vm.user.type === 0 && vm.user.basetype === 0">已发布项目</span>
    <div class="pull-right" ng-if="vm.user.type === 0 && vm.user.basetype === 0">
      <div class="btn btn-danger" ui-sref="app.manage.company.publish">发布需求</div>
    </div>
  </div>
  <div class="spinner" ng-if="!vm.lists">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>
  <div class="row" ng-if="vm.lists && !vm.lists.length">
    <div class="static-box">
      <p>尚未发布项目，发布项目找到承包方</p>
    </div>
  </div>
  <div class="row no-margin soft-list" ng-repeat="i in vm.lists"  ng-if="vm.lists.length">
    <div class="col-md-4 no-padding-left">
      <h4 class="normal-title"><a style="font-size: 15px" ui-sref="app.manage.company.show({id: i.id,requesttype: i.requesttype})">{{i.proname}}</a></h4>
    </div>
    <div class="col-md-8">
      <span class="pull-right margin-seven" style="display: inline-block;padding: 0 8px">开放</span>
      <div id="div1" class="open1 pull-right" ng-click="vm.openStatus(i)" ng-class="{'close1': i.cstatus === 2}">
        <div id="div2" class="open2"  ng-class="{'close2': i.cstatus === 2}"></div>
      </div>
      <span class="pull-right margin-seven"  style="display: inline-block;padding: 0 8px">关闭</span>
    </div>
    <div class="col-md-12 no-padding-left">
      <p class="overflow-p">
        {{i.intro}}</p>
    </div>
    <div class="row">
      <div class="col-md-3"><span>{{i.name}}</span></div>
      <div class="col-md-3"><strong>项目预算：</strong><span>{{i.price}}</span> <span>{{i.requesttype === 0?'元': (i.requesttype === 1?'/人/月': '/人/天')}}</span></div>
      <div class="col-md-3"><strong>项目开始日期：</strong><span>{{i.starttime}}</span></div>
      <div class="col-md-3"><strong>项目结束日期：</strong><span>{{i.endtime}}</span></div>
    </div>
  </div>
  <div ng-if="vm.user.type === 0 && vm.user.basetype === 0 && vm.lists.length">
    <div class="pull-right" style="color: red;cursor: pointer;margin-top: 20px" ui-sref="app.manage.company.more">更多 >></div>
  </div>
</div>
