<div class="base-container">
  <div class="row no-margin">
    <span class="normal-title">已发布项目</span>
    <div class="pull-right" ng-if="vm.user.type === 0 && vm.user.basetype === 0">
      <div class="btn btn-danger" ng-click="vm.publishPro()">发布需求</div>
    </div>
  </div>
</div>
<div class="spinner" ng-if="!vm.lists">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>
<div class="row" ng-if="vm.lists && !vm.lists.length">
  <div class="static-box">
    <p ng-if="vm.user.ispass != '0'">尚未发布项目，发布项目找到承包方</p>
    <p ng-if="vm.user.ispass === '0'">您的资料尚在审核中，审核后您可以在此发布项目</p>
  </div>
</div>
<div class="row no-margin soft-list" ng-repeat="i in vm.lists"  ng-if="vm.lists.length">
  <div class="col-md-4 no-padding-left">
    <h4 class="normal-title"><a style="font-size: 15px" ui-sref="app.manage.company.show({id: i.id,requesttype: i.requesttype})">{{i.proname}}</a></h4>
  </div>
  <div class="col-md-8">
    <span class="pull-right margin-seven" style="display: inline-block;padding: 0 8px">开放</span>
    <div id="div1" class="open1 pull-right" ng-click="vm.openStatus(i)" ng-class="{'close1': i.cstatus === 2}">
      <div id="div2" class="open2"  ng-class="{'close2': i.cstatus === 2}"></div>
    </div>
    <span class="pull-right margin-seven"  style="display: inline-block;padding: 0 8px">关闭</span>
  </div>
  <div class="col-md-12 no-padding-left">
    <p class="overflow-p">
      {{i.intro}}</p>
  </div>
  <div class="row">
    <div class="col-md-3"><span>{{i.name}}</span></div>
    <div class="col-md-2 no-padding"><strong>项目预算：</strong><span>{{i.price}}</span> <span>{{i.requesttype === 0?'元': (i.requesttype === 1?'元/人/月': '元/人/天')}}</span></div>
    <div class="col-md-2 no-padding"><strong>项目发布日期：</strong><span>{{i.createtime}}</span></div>
    <div class="col-md-2 no-padding"><strong>项目开始日期：</strong><span>{{i.starttime}}</span></div>
    <div class="col-md-2 no-padding"><strong>项目结束日期：</strong><span>{{i.endtime}}</span></div>
  </div>
</div>
<nav style="padding-bottom: 20px" boundary-link-numbers="true"  ng-if="vm.lists.length">
  <ul class="pagination pull-right">
    <li><a ng-click="vm.first()" ng-disabled="vm.pageList.currentPage === 1" ng-class="{'disabled': vm.pageList.currentPage === 1}">首页</a></li>
    <li ng-repeat="i in vm.pageArr" ng-click="vm.filterPage(i)"><a
      ng-class="{'filter-active': vm.pageList.currentPage == i}">{{i}}</a></li>
    <li><a ng-click="vm.last()" ng-disabled="vm.pageList.currentPage === vm.pageArr.length"  ng-class="{'disabled': vm.pageList.currentPage === vm.pageArr.length}">末页</a></li>
  </ul>
</nav>
</div>
