<!--<script>
  var thisPage=false;
  window.onbeforeunload=function checkLeave(e){
    var evt = e ? e : (window.event ? window.event : null);  //此方法为了在firefox中的兼容
    if(!thisPage)evt.returnValue='离开后将不会保存账户信息。';
  };
</script>-->
<div class="base-container">
  <div class="row no-margin">
    <span class="normal-title">发布需求</span>
    <div class="pull-right">
      <div class="btn btn-primary" ui-sref="app.manage.company.list">返回</div>
    </div>
  </div>
  <div class="form-container" style="margin-top: 70px">
    <form class="form-horizontal" name="base">
      <div class="form-group" style="position: relative;margin-top: -78px;border-bottom: none">
        <div class="col-md-2 col-md-offset-3">
          <label><input type="radio" name="requesttype" ng-model="vm.publish.requesttype" ng-value="0"
                        ng-init="vm.publish.requesttype = 0"/><span class="normal-weight"> 整体项目</span></label>
        </div>
        <div class="col-md-2">
          <label><input type="radio" name="requesttype" ng-model="vm.publish.requesttype" ng-value="1"/><span
            class="normal-weight"> 驻场开发</span></label>
        </div>
        <div class="col-md-2">
          <label><input type="radio" name="requesttype" ng-model="vm.publish.requesttype" ng-value="2"/><span
            class="normal-weight"> 自由职业者</span></label>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-2 control-label">
          <label>项目名称</label>
        </div>
        <div class="col-md-10">
          <input type="text" ng-class="{'error-input': (base.name.$error.required && base.name.$touched)}" name="name"
                 class="form-control" ng-model="vm.publish.proname" placeholder="请输入项目名称" required/>
          <div class="help-block error-font" ng-if="base.name.$error.required && base.name.$touched">项目名称不能为空</div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-2 control-label">
          <label for="">简介</label>
        </div>
        <div class="col-md-10">
        <textarea class="form-control" ng-model="vm.publish.intro" placeholder="请输入项目简介,不得少于20个字" minlength="20" required>
        </textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-2 control-label">
          <label>项目地址</label>
        </div>
        <div class="col-md-5">
          <select name="province" id="province" class="form-control" ng-model="vm.unitaddr.province" ng-options="i.id as i.name for i in vm.provinces" required>
            <option value="">请选择省份</option>
          </select>
        </div>
        <div class="col-md-5">
          <select name="city" id="city" class="form-control" ng-model="vm.unitaddr.city" ng-options="i.id as i.name for i in vm.cities" required>
            <option value="">请选择市</option>
          </select>
        </div>
      </div>
      <div class="form-group" ng-if="vm.publish.requesttype === 0">
        <div class="col-md-2 control-label">
          <label>项目当前状态</label>
        </div>
        <div class="col-md-10">
          <select name="" id="" class="form-control" ng-model="vm.publish.status" ng-options="i.id as i.name for i in vm.status">
            <option value="">请选择当前状态</option>
          </select>
        </div>
      </div>
      <div class="form-group" ng-if="vm.publish.requesttype === 0">
        <div class="col-md-2 control-label">
          <label>项目开始时间</label>
        </div>
        <div class="col-md-10">
          <input type="text" required ng-model="vm.publish.starttime" format="YYYY-MM-DD" date-time min-view="date"
                 timezone="Asia/Shanghai" auto-close="true"
                 class="form-control" placeholder="">
        </div>
      </div>
      <div class="form-group" ng-if="vm.publish.requesttype === 0">
        <div class="col-md-2 control-label">
          <label for="">项目结束时间</label>
        </div>
        <div class="col-md-10">
          <input type="text" required ng-model="vm.publish.endtime" format="YYYY-MM-DD" date-time min-view="date"
                 timezone="Asia/Shanghai" auto-close="true"
                 class="form-control" placeholder="">
        </div>
      </div>
      <div class="form-group" ng-if="vm.publish.requesttype === 0">
        <div class="col-md-2 control-label">
          <label for="">项目价格</label>
        </div>
        <div class="col-md-5">
          <input type="number" id="" class="form-control" ng-model="vm.publish.price" placeholder="请输入项目价格"/>
        </div>
        <div class="col-md-5" style="padding-top: 4px">
          <span>元</span>
        </div>
      </div>
      <div class="form-group" ng-if="vm.publish.requesttype === 0">
        <div class="col-md-2 control-label">
          <label for="">项目说明</label>
        </div>
        <div class="col-md-10">
          <textarea class="form-control" ng-model="vm.publish.odeclare" placeholder="请输入项目说明"></textarea>
        </div>
      </div>

      <!--驻场项目-->

      <div class="form-group" ng-if="vm.publish.requesttype === 2 || vm.publish.requesttype === 1">
        <div class="col-md-2 control-label">
          <label>付款方式</label>
        </div>
        <div class="col-md-5">
          <label class="margin-seven"><input type="radio" name="pricetype" ng-model="vm.publish.pricetype" ng-value="1"/><span class="normal-weight"> 月付</span></label>
        </div>
        <div class="col-md-5">
          <label class="margin-seven"><input type="radio" name="pricetype" ng-model="vm.publish.pricetype" ng-value="2"/><span class="normal-weight"> 季付</span></label>
        </div>
      </div>
      <div class="form-group" ng-if="vm.publish.requesttype === 2 || vm.publish.requesttype === 1">
        <div class="col-md-2 control-label">
          <label>工程师年限</label>
        </div>
        <div class="col-md-10">
          <select name="jobage" class="form-control" ng-model="vm.publish.ages" ng-options="i.id as i.name for i in vm.jobAges" required>
            <option value="">请选择工程师年限</option>
          </select>
        </div>
      </div>
      <div class="form-group" ng-if="vm.publish.requesttype === 2 || vm.publish.requesttype === 1">
        <div class="col-md-2 control-label">
          <label>工程师类型</label>
        </div>
        <div class="col-md-10">
          <select name="mantypr" class="form-control" ng-model="vm.publish.mantypr" ng-options="i.id as i.name for i in vm.mantyprs">
            <option value="">请选择工程师类型</option>
          </select>
        </div>
      </div>
      <div class="form-group" ng-if="vm.publish.requesttype === 2 || vm.publish.requesttype === 1">
        <div class="col-md-2 control-label">
          <label for="">工程师人数</label>
        </div>
        <div class="col-md-10">
          <input type="number" class="form-control" ng-model="vm.publish.pernum" required/>
        </div>
      </div>
      <div class="form-group" ng-if="vm.publish.requesttype === 2 || vm.publish.requesttype === 1">
        <div class="col-md-2 control-label">
          <label for="">预算</label>
        </div>
        <div class="col-md-5">
          <input type="number" ng-model="vm.publish.price" class="form-control" placeholder="请输入预算价格"/>
        </div>
        <div class="col-md-5 margin-seven">
          <span>/人/天</span>
        </div>
      </div>
      <div class="form-group" ng-if="vm.publish.requesttype === 2 || vm.publish.requesttype === 1">
        <div class="col-md-2 control-label">
          <label for="">入项时间</label>
        </div>
        <div class="col-md-10">
          <input type="text" required ng-model="vm.publish.starttime" format="YYYY-MM-DD" date-time min-view="date"
                 timezone="Asia/Shanghai" auto-close="true"
                 class="form-control" placeholder="">
        </div>
      </div>
      <div class="form-group" ng-if="vm.publish.requesttype === 2 || vm.publish.requesttype === 1">
        <div class="col-md-2 control-label">
          <label for="">出项时间</label>
        </div>
        <div class="col-md-10">
          <input type="text" required ng-model="vm.publish.endtime" format="YYYY-MM-DD" date-time min-view="date"
                 timezone="Asia/Shanghai" auto-close="true"
                 class="form-control" placeholder="">
        </div>
      </div>
      <div class="form-group" ng-if="vm.publish.requesttype === 2 || vm.publish.requesttype === 1">
        <div class="col-md-2 control-label">
          <label for="">任职要求</label>
        </div>
        <div class="col-md-10">
          <textarea class="form-control" ng-model="vm.publish.requirements" placeholder="请输任职要求"></textarea>
        </div>
      </div>
      <div class="form-group" ng-if="vm.publish.requesttype === 2 || vm.publish.requesttype === 1">
        <div class="col-md-2 control-label">
          <label>面试方式</label>
        </div>
        <div class="col-md-5">
          <label class="margin-seven"><input type="radio" name="mstype" ng-model="vm.publish.mstype" ng-value="1"/><span class="normal-weight"> 电话</span></label>
        </div>
        <div class="col-md-5">
          <label class="margin-seven"><input type="radio" name="mstype" ng-model="vm.publish.mstype" ng-value="2"/><span class="normal-weight"> 现场</span></label>
        </div>
      </div>
      <div class="form-group" ng-if="vm.publish.requesttype === 2 || vm.publish.requesttype === 1">
        <div class="col-md-2 control-label">
          <label>是否承担差旅费</label>
        </div>
        <div class="col-md-5">
          <label class="margin-seven"><input type="radio" name="cl"  ng-model="vm.publish.cl" ng-value="1"/><span class="normal-weight"> 是</span></label>
        </div>
        <div class="col-md-5">
          <label class="margin-seven"><input type="radio" name="cl"  ng-model="vm.publish.cl" ng-value="2"/><span class="normal-weight"> 否</span></label>
        </div>
      </div>
      <div class="form-group" ng-if="vm.publish.requesttype === 2 || vm.publish.requesttype === 1">
        <div class="col-md-2 control-label">
          <label>是否承担住宿费</label>
        </div>
        <div class="col-md-5">
          <label class="margin-seven"><input type="radio" name="sf"  ng-model="vm.publish.sf" ng-value="1"/><span class="normal-weight"> 是</span></label>
        </div>
        <div class="col-md-5">
          <label class="margin-seven"><input type="radio" name="sf"  ng-model="vm.publish.sf" ng-value="2"/><span class="normal-weight"> 否</span></label>
        </div>
      </div>
      <div class="form-group" style="border-bottom: none">
        <div class="col-md-10 col-md-offset-2">
          <div class="btn btn-primary" ng-click="vm.published()">发布</div>
        </div>
      </div>
    </form>
  </div>
</div>
