<div class="row no-margin" style="margin-bottom: 20px">
  <div class="pull-right btn btn-primary" ui-sref="app.manage.company.list"><i class="fa fa-angle-left" aria-hidden="true"></i> 返回</div>
</div>
<div class="form-container" style="position: relative">
  <form class="form-horizontal">
    <div class="form-group" style="position: relative">
      <div class="col-md-10 col-md-offset-2">
        <p><strong style="font-size: 16px">FLTK和CodeSys用户界面实现开发外包</strong></p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>发包形式</label>
      </div>
      <div class="col-md-8">
        <p class="margin-seven">整体项目</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>地址</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven">北京市朝阳区</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>付款方式</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven">线下</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>工程师年限</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven">三年</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>工程师类型</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven">JAVA工程师</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>预算</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven">2000元/人/天</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>入项时间</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven">2016-12-12</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>出项时间</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven">2016-12-12</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>任职要求</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven">任职要求任职要求任职要求任职要求任职要求任职要求任职要求</p>
      </div>
    </div>
    <div class="form-group" style="border-bottom: none">
      <uib-tabset style="background:white;">
        <uib-tab heading="企业" style="text-align: right;margin-left: 11%">
          <h1>列表1</h1>
        </uib-tab>
        <uib-tab heading="个人">
          <h1>列表2</h1>
        </uib-tab>
      </uib-tabset>
    </div>
  </form>
</div>
