<div class="row no-margin" style="margin-bottom: 20px">
  <div class="pull-right btn btn-primary" ui-sref="app.manage.company.more"><i class="fa fa-angle-left" aria-hidden="true"></i> 返回</div>
</div>
<div class="form-container" style="position: relative">
  <form class="form-horizontal" style="width: 50%">
    <div class="form-group" style="position: relative">
      <div class="col-md-9 col-md-offset-3">
        <p><strong style="font-size: 16px">{{vm.show.proname}}</strong></p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-3 control-label">
        <label>发包类型</label>
      </div>
      <div class="col-md-9">
        <p class="margin-seven">{{vm.show.requesttype[0].name}}</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-3 control-label">
        <label>地址</label>
      </div>
      <div class="col-md-9">
        <p class="margin-seven">{{vm.show.addrname}}</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-3 control-label">
        <label>项目简介</label>
      </div>
      <div class="col-md-9">
        <p class="margin-seven">{{vm.show.intro}}</p>
      </div>
    </div>
    <div class="form-group" ng-if="vm.show.requesttype[0].id === 0">
      <div class="col-md-3 control-label">
        <label>项目状态</label>
      </div>
      <div class="col-md-9">
        <p class="margin-seven">{{vm.show.cstatus === 1 ? '开启': '关闭'}}</p>
      </div>
    </div>
    <div class="form-group"  ng-if="vm.show.requesttype[0].id != 0">
      <div class="col-md-3 control-label">
        <label>付款方式</label>
      </div>
      <div class="col-md-9">
        <p class="margin-seven">{{vm.show.pricetype === 1? '月付' : '季付'}}</p>
      </div>
    </div>
    <div class="form-group"  ng-if="vm.show.requesttype[0].id != 0">
      <div class="col-md-3 control-label">
        <label>工程师年限</label>
      </div>
      <div class="col-md-9">
        <p class="margin-seven">{{vm.show.ages[0].name}}</p>
      </div>
    </div>
    <div class="form-group"  ng-if="vm.show.requesttype[0].id != 0">
      <div class="col-md-3 control-label">
        <label>工程师类型</label>
      </div>
      <div class="col-md-9">
        <p class="margin-seven">{{vm.show.mantypr}}</p>
      </div>
    </div>
    <div class="form-group"  ng-if="vm.show.requesttype[0].id != 0">
      <div class="col-md-3 control-label">
        <label>工程师人数</label>
      </div>
      <div class="col-md-9">
        <p class="margin-seven">{{vm.show.pernum}}人</p>
      </div>
    </div>
    <div class="form-group"  ng-if="vm.show.requesttype[0].id === 0">
      <div class="col-md-3 control-label">
        <label>项目价格</label>
      </div>
      <div class="col-md-9">
        <p class="margin-seven">{{vm.show.price}} 元</p>
      </div>
    </div>
    <div class="form-group"  ng-if="vm.show.requesttype[0].id === 1">
      <div class="col-md-3 control-label">
        <label>项目预算</label>
      </div>
      <div class="col-md-9">
        <p class="margin-seven">{{vm.show.price}} /人/月</p>
      </div>
    </div> <div class="form-group"  ng-if="vm.show.requesttype[0].id === 2">
    <div class="col-md-3 control-label">
      <label>项目预算</label>
    </div>
    <div class="col-md-9">
      <p class="margin-seven">{{vm.show.price}} /人/天</p>
    </div>
  </div>
    <div class="form-group">
      <div class="col-md-3 control-label">
        <label>项目发布日期</label>
      </div>
      <div class="col-md-9">
        <p class="margin-seven">{{vm.show.createtime}}</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-3 control-label">
        <label>项目开始日期</label>
      </div>
      <div class="col-md-9">
        <p class="margin-seven">{{vm.show.starttime}}</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-3 control-label">
        <label>项目结束日期</label>
      </div>
      <div class="col-md-9">
        <p class="margin-seven">{{vm.show.endtime}}</p>
      </div>
    </div>
    <div class="form-group" ng-if="vm.show.requesttype[0].id != 0">
    <div class="col-md-3 control-label">
      <label>任职要求</label>
    </div>
    <div class="col-md-9">
      <p class="margin-seven" id="requirements"></p>
    </div>
  </div>
    <div class="form-group" ng-if="vm.show.requesttype[0].id != 0">
      <div class="col-md-3 control-label">
        <label>面试方式</label>
      </div>
      <div class="col-md-9">
        <p class="margin-seven">{{vm.show.mstype === 1?'现场':'电话'}}</p>
      </div>
    </div>
    <div class="form-group" ng-if="vm.show.requesttype[0].id != 0">
      <div class="col-md-3 control-label">
        <label>是否承担差旅费</label>
      </div>
      <div class="col-md-9">
        <p class="margin-seven">{{vm.show.cl === 1? '是': '否'}}</p>
      </div>
    </div>
    <div class="form-group" ng-if="vm.show.requesttype[0].id != 0">
      <div class="col-md-3 control-label">
        <label>是否承担住宿费</label>
      </div>
      <div class="col-md-9">
        <p class="margin-seven">{{vm.show.sf === 1? '是': '否'}}</p>
      </div>
    </div>
  </form>
  <div style="width: 50%;height: 100%" class="show-accept-person">
    <div class="form-group" ng-if="vm.show.requesttype[0].id != 0" style="padding: 41px 0;margin-bottom: 10px;">
      <div class="col-md-6 control-label">
        <label>承接者列表展示：</label>
      </div>
    </div>
    <uib-tabset style="background:white;">
      <uib-tab heading="企业" style="text-align: right;margin-left: 11%">
        <div class="row letter-list-title margin-seven">
          <div class="col-md-3">
            <p>企业名称</p>
          </div>
          <div class="col-md-3"><p>地址</p></div>
          <div class="col-md-3">
            <p>企业类型</p>
          </div>
          <div class="col-md-2">
            <p>行业经验</p>
          </div>
        </div>
        <div class="row" ng-if="!vm.undertakeC.length">
          <div class="static-box">
            <p>暂无数据</p>
          </div>
        </div>
        <div class="row margin-seven" ng-repeat="list in vm.undertakeC" style="margin: 5px 0;">
          <div class="col-md-3 -align-center">
            <a ui-sref="app.contractors.show({id: list.id,userid: vm.user.userid})">{{list.name}}</a>
          </div>
          <div class="col-md-3 -align-center"><p>{{list.unitaddr}}</p></div>
          <div class="col-md-3 -align-center">
            <p>{{list.flattype[0].name}}</p>
          </div>
          <div class="col-md-3 overflow-text-hidden -align-center">
            <span>{{list.experience}}</span>
          </div>
        </div>
      </uib-tab>
      <uib-tab heading="自由职业顾问">
        <div class="row letter-list-title margin-seven">
          <div class="col-md-2">
            <p>真实姓名</p>
          </div>
          <div class="col-md-2"><p>地址</p></div>
          <div class="col-md-3">
            <p>行业经验</p>
          </div>
          <div class="col-md-2">
            <p>期望薪资</p>
          </div>
        </div>
        <div class="row" ng-if="!vm.undertakeP.length">
          <div class="static-box">
            <p>暂无数据</p>
          </div>
        </div>
        <div class="row" ng-repeat="list in vm.undertakeP" style="margin: 5px 0;">
          <div class="col-md-3" style="text-align: center">
            <a  ui-sref="app.freelance.show({id: list.id,userid: vm.user.userid})">{{list.pname}}</a>
          </div>
          <div class="col-md-2"  style="text-align: center"><p>{{list.address}}</p></div>
          <div class="col-md-3"  style="text-align: center">
            <p class="overflow-text-hidden">{{list.experience}}</p>
          </div>
          <div class="col-md-2"  style="text-align: center">
            <p class="important-font">{{list.money}}元/天</p>
          </div>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>
</div>

