<div class="base-container">
  <div class="row no-margin soft-filter">
    <ul class="list-unstyled no-margin">
      <li><span>区域选择 ：</span></li>
      <li><span ng-click="vm.choice(1,null)" ng-class="{'filter-active': vm.filter[1] === null}">全国</span></li>
      <li><span ng-click="vm.choice(1,1)" ng-class="{'filter-active': vm.filter[1] === 1}">北京</span></li>
      <li><span ng-click="vm.choice(1,73)" ng-class="{'filter-active': vm.filter[1] === 73}">上海</span></li>
      <li><span ng-click="vm.choice(1,2)" ng-class="{'filter-active': vm.filter[1] === 2}">天津</span></li>
      <li><span ng-click="vm.choice(1,200)" ng-class="{'filter-active': vm.filter[1] === 200}">深圳</span></li>
      <li
        ng-if="!(vm.filter[1] === 1 || vm.filter[1] === 73 || vm.filter[1] === 2|| vm.filter[1] === 200) && !vm.filter[1].flag">
        <span ng-click="vm.choice(1,vm.select.id)" ng-class="{'filter-active': vm.filter[1] === vm.select.id}">{{vm.select.name}}</span>
      </li>
      <li ng-if="(vm.filter[1].flag)">
        <span class="filter-active">{{vm.filter[1].name}}</span>
      </li>
      <li style="color: #3285ff;"><span ng-click="vm.more()">更多 <i class="fa fa-caret-down" aria-hidden="true"
                                                                   ng-if="!vm.tag"></i>
        <i ng-if="vm.tag" class="fa fa-caret-up" aria-hidden="true"></i></span></li>
    </ul>
    <ul class="list-unstyled no-margin" ng-if="vm.tag">
      <li class="width-inherit margin-seven show-city"
          ng-mouseleave="over = false"
          ng-repeat="i in vm.citys"
          ng-mouseover="over = true">
        <span><span style="padding: 0;color: #3285ff;">{{i.flag}}</span> {{i.name}}</span>
        <ul class="list-unstyled no-margin animated fadeInLeft">
          <li ng-click="vm.selectProvince(i)" ng-if="i.cityList.length != 1">全部</li>
          <li class="width-inherit margin-seven" ng-repeat="list in i.cityList" ng-click="vm.selectCity(list)"><span>{{list.name}}</span>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="list-unstyled no-margin row">
      <li><span>行业经验选择 ：</span></li>
      <li style="width: 190px" ng-repeat="i in vm.experiences track by $index"
          ng-class="{'left-select': $index != 0&& $index%5 === 0}">
        <div>
          <label><input type="checkbox" checklist-model="vm.checkExp.ids" checklist-value="i.id"><span style="padding: 0 4px;font-weight: normal">{{i.name}}</span></label>
        </div>
      </li>
    </ul>
    <ul class="list-unstyled no-margin row">
      <li><span>技能选择 ：</span></li>
      <li class="row" style="width: 1000px;margin-top: -10px">
        <div class="col-md-12 no-padding-left no-padding-right">
          <div class="list-name" ng-repeat="lists in vm.skills track by $index" ng-if="$index < 2">
            <div class="list-box">
              <!--  <p><span>{{lists.remark}}</span> <span ng-click="i.selected = !i.selected"
                                                       ng-class="{'filter-active': i.selected}"
                                                       ng-repeat="i in lists.diclist">{{i.name}}</span></p>-->
              <div class="list-box">
                <div><span class="remark-title">{{lists.remark}}</span> <span class="test-remark">
                <span ng-click="vm.selectSkill(lists.pid, i.id)"
                      ng-class="{'filter-active': i.selected}"
                      ng-repeat="i in lists.diclist">{{i.name}}</span>
              </span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="list-name">
            <div class="list-box">
              <p style="color: #3285ff;cursor: pointer" ng-click="show = !show">更多技术细节 <i class="fa" ng-class="{'fa-plus-square-o': !show, 'fa-minus-square-o': show}"></i></p>
            </div>
          </div>
        </div>
        <div class="col-md-12" ng-if="show">
          <div class="list-name" ng-repeat="lists in vm.skills track by $index" ng-if="$index >= 2">
            <div class="list-box">
              <div><span class="remark-title">{{lists.remark}}</span> <span class="test-remark">
                <span ng-click="vm.selectSkill(lists.pid, i.id)"
                      ng-class="{'filter-active': i.selected}"
                      ng-repeat="i in lists.diclist">{{i.name}}</span>
              </span></div>
            </div>
          </div>
        </div>
        <div class="col-md-12" ng-if="show">
          <div class="col-md-1 no-padding" style="width: 130px;text-align: right">
            <p><span>其他</span></p>
          </div>
          <div class="col-md-10" style="margin-left: 30px">
            <div class="input-group">
              <input type="text" class="form-control" ng-model="vm.other" placeholder="请输入其他技术细节并确定,例如：JAVA"/>
              <span ng-click="vm.searchOther()" class="input-group-addon" style="background-color: #3285ff;color: #FFF;border: 1px solid #3285ff;cursor: pointer;">搜索</span>
            </div>
          </div>
        </div>
      </li>
    </ul>

  </div>
  <!--加载动画-->
  <div class="spinner" ng-if="!vm.lists">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>
  <div class="row" ng-if="vm.lists && !vm.lists.length">
    <div class="static-box">
      <p>没有符合条件的结果，请更换检索条件重新检索!</p>
    </div>
  </div>
  <div class="row no-margin soft-list" ng-repeat="i in vm.lists" ng-if="vm.lists.length">
    <h4 class="normal-title" style="font-size: 15px"><a ui-sref="app.contractors.show({id:i.id})">{{i.name}}</a></h4>
    <p class="overflow-p">{{i.proscope}}</p>
    <div class="row">
      <div class="col-md-3">
        <strong>单位类型：</strong><span>{{i.flattype}}</span>
      </div>
      <div class="col-md-3 overflow-text-hidden">
        <strong>行业经验：</strong><span>{{i.experience}}</span>
      </div>
      <div class="col-md-3 overflow-text-hidden">
        <strong>擅长技能：</strong><span>{{i.skills}}</span>
      </div>
      <!--  <div class="col-md-3">
          <strong>企业资质：</strong><span>JAVA工程师</span>
        </div>
        <div class="col-md-3">
          <strong>发布时间：</strong><span>2016-12-12</span>
        </div>-->
    </div>
  </div>

  <nav style="padding-bottom: 20px" boundary-link-numbers="true" ng-if="vm.lists.length">
    <ul class="pagination pull-right">
      <li><a ng-click="vm.first()" ng-disabled="vm.pageList.currentPage === 1"
             ng-class="{'disabled': vm.pageList.currentPage === 1}">首页</a></li>
      <li ng-repeat="i in vm.pageArr" ng-click="vm.filterPage(i)"><a
        ng-class="{'filter-active': vm.pageList.currentPage == i}">{{i}}</a></li>
      <li><a ng-click="vm.last()" ng-disabled="vm.pageList.currentPage === vm.pageArr.length"
             ng-class="{'disabled': vm.pageList.currentPage === vm.pageArr.length}">末页</a></li>
    </ul>
  </nav>
</div>
