<div class="ibox" style="height: 100%">
  <div style="position: relative;height: 100%;width: 100%">
    <div class="box-item" id="mark-share-list">
      <div class="show-item" style="height: 100%;">
        <div class="move-box box-2" style="width: 100%">
          <div class="row" style="height: 100%">
            <div class="row market-share market-share-list-top" style="height: 30%">
              <div class="show-content" style="height: 96%">
                <div class="row" style="height: 10%;padding-top: 4px">
                  <div class="-box-title">
                    <ul>
                      <li ng-repeat="i in vm.sortName"><p>{{i}}</p></li>
                    </ul>
                  </div>
                </div>
                <div class="font-title" style="height: 89%;padding-top: 4px;">
                  <div class="title-left">
                    <p>渠<br>道<br>类<br>别</p>
                  </div>
                  <div class="title-right title-right-top">
                    <p style="cursor: inherit"><span>整体</span></p>
                    <p><span ui-sref="app.average.channel({status: 'up'})">线上<img class="point-image" ng-src="images/point.png"></span></p>
                    <p><span ui-sref="app.average.channel({status: 'off'})">线下<img class="point-image" ng-src="images/point.png"></span></p>
                  </div>
                </div>
                <div class="font-right" style="height: 89%">
                  <div class="content-right left-center-right" ng-repeat=" lists in vm.averageListTop">
                    <ul>
                      <li ng-repeat="i in lists track by $index"><p><span>{{i.priceAvg}}</span><span>{{i.priceMom.toFixed(0)}}</span>
                        <img ng-src="images/icon/02_03.png" ng-if="i.priceMom.toFixed(0) < 0"/>
                        <img ng-src="images/icon/02_08.png" ng-if="i.priceMom.toFixed(0) == 0"/>
                        <img ng-src="images/icon/02_06.png" ng-if="i.priceMom.toFixed(0) > 0"/></p></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" style="height: 70%">
              <div class="col-md-6  col-xs-6 market-share-percent" style="height: 100%">
                <div class="market-share-percent-content" id="product-type" style="padding-right: 5px">
                </div>
              </div>
              <div class="col-md-6 col-xs-6 market-share-percent" style="height: 100%;position: relative">
                <div class="jump-to-all"><a ui-sref="app.average.region({status: '山东'})">查看全国<img class="point-image" ng-src="images/point.png"></a></div>
                <div class="market-share-percent-content" id="product-area" style="padding-left: 5px">
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
