<div class="menu-container">
  <div class="menu-box">
    <div class="row">
      <div class="col-md-3 col-xs-3 logo">
        <span>软盈SoftTrade | <span style="font-size: 14px">注册</span></span>
      </div>
    </div>
  </div>
</div>
<h2 class="important-font text-center">恭喜您注册完成！</h2>
<h3 class="text-center important-font">您现在可以登录系统，充分利用平台的资源了</h3>
<div class="row no-margin" style="margin-top: 100px">
  <div class="col-md-6 col-md-offset-3 text-center">
    <div class="btn btn-primary" ng-click="vm.finish()">去登录</div>
  </div>
</div>
