<div class="menu-container">
  <div class="menu-box">
    <div class="row">
      <div class="col-md-3 col-xs-3 logo">
        <span>软盈SoftTrade | <span style="font-size: 14px">注册</span></span>
      </div>
    </div>
  </div>
</div>
<h2 class="important-font text-center">恭喜您注册完成！</h2>
<div class="row no-margin">
  <div class="base-container">
    <h3 class=" important-font">你的注册信息已经提交到平台进行审核，审核通过后，您便可以充分利用平台的资源了。</h3>
    <h3 class=" important-font">平台会将审核结果以短信方式进行通知。</h3>
    <h3 class=" important-font">现在您可以登录平台，先行浏览平台的资源。</h3>
  </div>
</div>
<div class="row no-margin" style="margin-top: 100px">
  <div class="col-md-6 col-md-offset-3 text-center">
    <div class="btn btn-primary" ng-click="vm.finish()">去登录</div>
  </div>
</div>
