<div class="menu-container">
  <div class="menu-box">
    <div class="row">
      <div class="col-md-3 col-xs-3 logo">
        <span>软盈SoftTrade | <span style="font-size: 14px">修改密码</span></span>
      </div>
      <div class="col-md-2 col-xs-2 register-name col-md-offset-7 col-xs-offset-7">
        <span>{{vm.username}}</span>
      </div>
    </div>
  </div>
</div>
<div class="row free-base" style="margin-right: 0;margin-left: 0">
  <div class="col-md-12" style="text-align: center">
    <div class="circle circle-active">
      <div>1</div>
      <span class="help-block">账号验证</span>
    </div>
    <div class="circle-line ">
      <div></div>
    </div>
    <div class="circle">
      <div>2</div>
      <span class="help-block">手机号验证</span>
    </div>
    <div class="circle-line ">
      <div></div>
    </div>
    <div class="circle">
      <div>3</div>
      <span class="help-block">重置密码</span>
    </div>
  </div>
</div>
<div class="form-container no-margin" style="width: 50%">
  <form class="form-horizontal" name="register" ng-submit="vm.regist()">
    <div class="form-group username" style="margin-top: 30px">
      <div class="col-md-4 col-xs-4 white-center col-md-offset-2">
        <label><input type="radio" name="item" ng-model="vm.register.acctype" ng-value="0"
                      ng-init="vm.register.acctype=0"/>&nbsp;我是企业</label>
      </div>
      <div class="col-md-4 col-xs-4 white-center">
        <label><input type="radio" name="item" ng-model="vm.register.acctype" ng-value="1"/>&nbsp;我是自由职业顾问</label>
      </div>
    </div>
    <div class="form-group username" style="margin-top: 30px" ng-if="vm.register.acctype === 0"
         ng-class="{'has-success': register.email.$valid}">
      <div class="col-md-2 col-xs-2 control-label">
        <label class="white-center">邮箱</label>
      </div>
      <div class="col-md-9 col-xs-9">
        <input id="email"
               ng-class="{'error-input': (register.email.$error.email || register.email.$error.required || register.email.$error.pattern) && register.email.$touched}"
               ng-model="vm.register.username" type="email" class="form-control" name="email" required ng-focus=""
               ng-pattern="/^[0-9|A-z|_]{1,17}[@][0-9|A-z]{1,}.(com)$/"
               placeholder="请输入邮箱"/>
      <span class="help-block error-font"
            ng-if="register.email.$error.required && register.email.$touched">邮箱不能为空</span>
      <span class="help-block error-font"
            ng-if="register.email.$touched && (register.email.$error.email || register.email.$error.pattern)">请输入正确的邮箱格式</span>
      </div>
    </div>
    <div class="form-group username" style="margin-top: 30px" ng-if="vm.register.acctype === 1"
         ng-class="{'has-success': register.tel.$valid}">
      <div class="col-md-2 col-xs-2 control-label">
        <label for="tel" class="white-center">手机号</label>
      </div>
      <div class="col-md-9 col-xs-9">
        <input id="tel" name="tel" ng-model="vm.register.username" ng-maxlength="11" ng-minlength="11" required type="tel"
               ng-class="{'error-input': (register.tel.$error.pattern  || register.tel.$error.required) && register.tel.$touched}"
               class="form-control" placeholder="请输入手机号"
               ng-pattern="/^[0-9]{11}/"
               ng-focus="(register.tel.$error.tel || register.tel.$error.minlength || register.tel.$error.maxlength || register.tel.$error.required) && register.tel.$touched"/>
       <span class="help-block error-font"
             ng-if="register.tel.$error.required && register.tel.$touched">手机号不能为空</span>
      <span class="help-block error-font"
            ng-if="(register.tel.$error.tel || register.tel.$error.pattern) && register.tel.$touched">请输入正确的手机号</span>
      </div>
    </div>
    <div class="form-group username">
      <div class="col-md-2 col-xs-2 control-label">
        <label for="code" class="white-center">验证码</label>
      </div>
      <div class="col-md-7 col-xs-7" style="padding-right: 0">
        <input id="code" ng-model="vm.register.validateCode" maxlength="4" type="text" class="form-control" required
               placeholder="请输入验证码"/>
      </div>
      <div class="col-md-2 col-xs-2" style="padding-left: 0" title="看不清？换一张">
        <div style="width: 82px; height: 28px; padding: 2px;display: inline-block" ng-click="vm.getCode()"><img alt="点击获取验证码" ng-src="{{vm.image}}"></div>
      </div>
    </div>
   <!-- <div class="form-group username" style="margin-top: 30px" ng-if="vm.register.acctype === 1"
         ng-class="{'has-success': register.tel.$valid}">
      <div class="col-md-2 col-xs-2 control-label">
        <label for="tel" class="white-center">手机号</label>
      </div>
      <div class="col-md-9 col-xs-9">
        <input id="tel" name="tel" ng-model="vm.register.username" ng-maxlength="11" ng-minlength="11" required type="tel"
               ng-class="{'error-input': (register.tel.$error.pattern  || register.tel.$error.required) && register.tel.$touched}"
               class="form-control" placeholder="请输入手机号"
               ng-pattern="/^[0-9]{11}/"
               ng-focus="(register.tel.$error.tel || register.tel.$error.minlength || register.tel.$error.maxlength || register.tel.$error.required) && register.tel.$touched"/>
       <span class="help-block error-font"
             ng-if="register.tel.$error.required && register.tel.$touched">手机号不能为空</span>
      <span class="help-block error-font"
            ng-if="(register.tel.$error.tel || register.tel.$error.pattern) && register.tel.$touched">请输入正确的手机号</span>
      </div>
    </div>
    <div class="form-group username" ng-if="vm.register.acctype === 1">
      <div class="col-md-2 col-xs-2 control-label">
        <label for="password" class="white-center">验证码</label>
      </div>
      <div class="col-md-7 col-xs-7" style="padding-right: 0">
        <input id="password" ng-model="vm.register.code" type="text" class="form-control" required
               placeholder="请输入验证码"/>
      </div>
      <div class="col-md-2 col-xs-2" style="padding-left: 0">
        <div class="btn btn-primary" ng-click="vm.sendCode()" ng-class="{'disabled': !vm.paraevent}">{{vm.paracont}}</div>
      </div>
    </div>-->
    <div class="form-group username">
      <div class="col-md-offset-2 col-xs-offset-2 username" style="padding-bottom: 30px;padding-left: 15px;text-align: left">
        <button type="submit" class="btn btn-primary btn-default">下一步</button>
      </div>
    </div>
  </form>
</div>
<div class="footer" ng-include="'components/app/footer.html'" style="position: relative"></div>
