<div id="particles">
  <div id="intro">
    <div class="row no-margin" style="height: 100%;overflow: auto">
      <div class="col-md-12 col-xs-12 bg-image" style="height: 100%">
        <div class="name-title animated slideInDown" style="margin-top: 20px"><p>软盈SoftTrade</p></div>
        <div class="intruduce animated slideInDown"><p>软件项目平台，世界资源共享</p></div>
        <div class="intruduce animated slideInDown"><p>实名交易铸造，真实商谈互通</p></div>
        <div class="intruduce animated slideInDown"><p>公司顾问荟萃，项目所托必应</p></div>
        <div class="intruduce animated slideInDown"><p>项目海量汇集，才能才智施展</p></div>
        <div class="row" style="margin-top: 30px">
          <div class="col-md-6 col-md-offset-3">
            <div class="col-md-6 col-xs-6 white-center no-padding login-choice" ui-sref="go.login"
                 ui-sref-active="login-choice-active"><span>登录</span></div>
            <div class="col-md-6 col-xs-6 white-center no-padding login-choice" ui-sref="go.register"
                 ui-sref-active="register-choice-active"><span>注册</span></div>
            <div class="col-md-12 col-xs-12 login-content" ui-view></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div id="particles">
  <div id="intro">
    <div class="row no-margin" style="height: 100%">
      <div class="col-md-12 col-xs-12 bg-image" style="height: 100%">
        <div class="name-title" style="margin-top: 20px"><p>软盈SoftTrade</p></div>
        <div class="intruduce animated slideInDown"><p>软件项目平台，世界资源共享</p></div>
        <div class="intruduce animated slideInDown"><p>实名交易铸造，真实商谈互通</p></div>
        <div class="intruduce animated slideInDown"><p>公司顾问荟萃，项目所托必应</p></div>
        <div class="intruduce animated slideInDown"><p>项目海量汇集，才能才智施展</p></div>
        <div class="row" style="margin-top: 30px">
          <div class="col-md-6 col-md-offset-3">
            <div class="col-md-6 col-xs-6 white-center no-padding login-choice"><span>登录</span></div>
            <div id="register" class="col-md-6 col-xs-6 white-center no-padding login-choice"><span>注册</span></div>
            <div class="col-md-12 col-xs-12 login-content">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
<script>
  $(document).ready(function() {
    $('#particles').particleground({
      dotColor: '#5cbdaa',
      lineColor: '#5cbdaa'
    });
  });
</script>
