<!--<div id="particles">
  <div id="intro">-->
    <div class="row no-margin" style="height: 100%">
      <div class="col-md-12 col-xs-12 bg-image" style="height: 100%">
        <div class="name-title animated slideInDown"><p>软盈SoftTrade</p></div>
        <div class="intruduce animated slideInDown"><p>中国平台，世界共享</p></div>
        <div class="intruduce animated slideInDown"><p>实名交易，互信铸造</p></div>
        <div class="intruduce animated slideInDown"><p>海量项目，专业荟萃</p></div>
        <div class="row animated slideInDown">
          <div class="col-md-6 col-md-offset-3">
            <div class="col-md-6 col-xs-6 white-center no-padding login-choice" ui-sref="go.login"
                 ui-sref-active="login-choice-active"><span>登陆</span></div>
            <div class="col-md-6 col-xs-6 white-center no-padding login-choice" ui-sref="go.register"
                 ui-sref-active="register-choice-active"><span>注册</span></div>
            <div class="col-md-12 col-xs-12 login-content" ui-view=""></div>
          </div>
        </div>
      </div>
    </div>
<!--  </div>
</div>-->

