<div class="col-md-12 col-xs-12 bg-image" style="height: 100%">
  <div class="name-title"><p>软盈SoftTrade</p></div>
  <div class="intruduce"><p>中国平台，世界共享</p></div>
  <div class="intruduce"><p>实名交易，互信铸造</p></div>
  <div class="intruduce"><p>海量项目，专业荟萃</p></div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="col-md-6 col-xs-6 white-center no-padding login-choice" ui-sref="go.login" ui-sref-active="login-choice-active"><span>登陆</span></div>
      <div class="col-md-6 col-xs-6 white-center no-padding login-choice" ui-sref="go.register" ui-sref-active="register-choice-active"><span>注册</span></div>
      <div class="col-md-12 col-xs-12 login-content" ui-view=""></div>
    </div>
  </div>
</div>


