<form class="form-horizontal" ng-submit="vm.login()">
  <div class="form-group username" style="margin-top: 30px">
   <div class="col-md-6 white-center">
     <label><input type="radio" name="item" ng-model="vm.register.type" ng-value="1"/>&nbsp;自由职业者</label>
   </div>
    <div class="col-md-6 white-center">
      <label><input type="radio" name="item" ng-model="vm.register.type" ng-value="2" ng-init="vm.register.type=1"/>&nbsp;企业</label>
    </div>
  </div>
  <div class="form-group username" style="margin-top: 30px" ng-if="vm.register.type === 2">
    <div class="col-md-3 col-xs-3 control-label">
      <label for="username" class="white-center">邮箱</label>
    </div>
    <div class="col-md-9 col-xs-9">
      <input id="email" ng-model="vm.register.email" type="text" class="form-control" ng-focus="" placeholder="请输入邮箱"/>
    </div>
  </div>
  <div class="form-group username" style="margin-top: 30px" ng-if="vm.register.type === 1">
    <div class="col-md-3 col-xs-3 control-label">
      <label for="username" class="white-center">手机号</label>
    </div>
    <div class="col-md-9 col-xs-9">
      <input id="username" ng-model="vm.register.mobile" type="text" class="form-control" ng-focus="" placeholder="请输入手机号"/>
    </div>
  </div>
  <div class="form-group username" ng-if="vm.register.type === 1">
    <div class="col-md-3 col-xs-3 control-label">
      <label for="password" class="white-center">验证码</label>
    </div>
    <div class="col-md-6 col-xs-6" style="padding-right: 0">
      <input id="password" ng-model="vm.register.code" type="password" class="form-control" ng-focus="" placeholder="请输入密码"/>
    </div>
    <div class="col-md-3 col-xs-3" style="padding-left: 0">
      <div class="btn btn-primary">获取验证码</div>
    </div>
  </div>
  <div class="form-group username">
    <div class="col-md-offset-3 col-xs-offset-3 username" style="padding-bottom: 30px;padding-left: 15px">
      <div class="btn btn-primary btn-default" ng-click="vm.regist()">注册</div>
    </div>
  </div>
</form>
