<div class="menu-container">
  <div class="menu-box">
    <div class="row">
      <div class="col-md-3 col-xs-3 logo">
        <span>软盈SoftTrade | <span style="font-size: 14px">修改密码</span></span>
      </div>
    </div>
  </div>
</div>
<div class="row free-base" style="margin-right: 0;margin-left: 0">
  <div class="col-md-12" style="text-align: center">
    <div class="circle circle-active">
      <div>1</div>
      <span class="help-block">账号验证</span>
    </div>
    <div class="circle-line circle-line-active">
      <div></div>
    </div>
    <div class="circle circle-active">
      <div>2</div>
      <span class="help-block">手机号验证</span>
    </div>
    <div class="circle-line circle-line-active">
      <div></div>
    </div>
    <div class="circle circle-active">
      <div>3</div>
      <span class="help-block">重置密码</span>
    </div>
  </div>
</div>
<div class="form-container no-margin" style="width: 50%">
  <form class="form-horizontal" name="base" ng-submit="vm.reset()">
    <div class="form-group" style="margin-top: 30px">
      <div class="col-md-2 col-xs-2 control-label">
        <label for="username" class="white-center">用户名</label>
      </div>
      <div class="col-md-9 col-xs-9">
        <input id="username"
               name="username"
               ng-model="vm.base.username"
               type="text"
               class="form-control" ng-focus=""
               placeholder="此项不能随意修改" readonly disabled/>
        <!-- <span class="input-result" ng-if="login.username.$valid"><i class="fa fa-check"></i></span>-->
      </div>
    </div>
      <div class="form-group" ng-class="{'has-success':base.password.$valid}">
        <div class="col-md-2 control-label">
          <label for="">新密码</label>
        </div>
        <div class="col-md-9">
          <input type="password"
                 name="password"
                 ng-model="vm.base.password"
                 class="form-control"
                 ng-class="{'error-input': base.password.$invalid &&  base.password.$touched}"
                 ng-pattern="/^(?!([a-zA-Z]+|\d+)$)[a-zA-Z\d]{8}$/"
                 placeholder="密码必须为字母+数字,长度为8位"
                 ng-maxlength="8"
                 ng-minlength="8"
                 required/>
          <div class="help-block error-font" ng-if="(base.password.$error.minlength || base.password.$error.maxlength) && base.password.$touched">密码长度必须为8位</div>
          <div class="help-block error-font" ng-if="(base.password.$error.required) && base.password.$touched">密码不能为空</div>
          <div class="help-block error-font" ng-if="(base.password.$error.pattern) && base.password.$touched">密码必须为字母数字组合</div>
          <span class="input-result" ng-if="base.password.$valid"><i class="fa fa-check"></i></span>
        </div>
      </div>
      <div class="form-group"   ng-class="{'has-success': base.passwordagin.$valid && vm.base.passwordagin === vm.base.password }">
        <div class="col-md-2 control-label">
          <label for="">确认密码</label>
        </div>
        <div class="col-md-9">
          <input type="password"
                 ng-class="{'error-input': vm.base.passwordagin != vm.base.password &&  base.passwordagin.$touched}"
                 name="passwordagin" class="form-control" placeholder="再次输入密码" ng-model="vm.base.passwordagin" maxlength="8" minlength="8" required/>
          <div class="help-block error-font" ng-if="(vm.base.passwordagin != vm.base.password) && base.passwordagin.$touched">请与原密码保持一致</div>
          <span class="input-result" ng-if="(vm.base.passwordagin === vm.base.password)  && base.passwordagin.$touched && base.passwordagin.$valid"><i class="fa fa-check"></i></span>
        </div>
      </div>
    <div class="form-group">
      <div class="col-md-9 col-md-offset-2">
        <button type="submit" class="btn btn-primary" ng-disabled="base.$invalid || vm.base.passwordagin != vm.base.password">确认</button>
      </div>
    </div>
  </form>
</div>
