<div class="row no-margin" style="padding: 0 20px">
  <h3 class="text-center" style="margin-bottom: 20px">软盈项目交易平台服务协议</h3>
  <p><strong>【注意】欢迎申请使用软盈项目交易平台（下列简称SOFTTRADE）提供的服务。</strong>
    请用户（下列简称为“用户”）仔细阅读以下全部内容<strong>（特别是粗体下划线标注的内容）</strong>
    。如用户不同意本服务条款任意内容，请勿注册或使用软盈项目交易平台。如用户通过进入注册程序并勾选“同意会员注册服务条款”，即表示用户与软盈项目交易平台已达成协议，自愿接受本服务条款的所有内容。此后，用户不得以未阅读本服务条款内容作任何形式的抗辩。
  </p>
  <p class="text-sp">
    1.服务条款的确认和接纳
  </p>
  <p class="text-sp">
    软盈项目交易平台涉及到的科技成果资源的所有权以及相关软件的知识产权归SOFTTRADE所有。本服务条款的效力范围及于软盈项目交易平台的一切产品和服务，用户在享受SOFTTRADE任何单项服务时，应当受本服务条款的约束。
  </p>
  <p class="text-sp">当用户使用软盈项目交易平台各单项服务时，应以软盈项目交易平台认可的方式同意该单项服务的服务条款以及软盈项目交易平台在该单项服务中发出的各类公告（下列简称为“单项条
    款”），在此情况下单项条款与本服务条款同时对用户产生效力。若单项条款与本服务条款存在同类条款的冲突，则在单项条款约束范围内应以单项条款为准。</p>
  <p class="text-sp">2.软盈项目交易平台简介</p>
  <p class="text-sp">软盈项目交易平台通过国际互联网络为用户提供各项服务。考虑到软盈项目交易平台的重要性，用户同意：</p>
  <p class="text-sp">（1）提供及时、详尽及准确的个人资料。包括但不限于用户的姓名或名称、联系地址、联系电话、电子邮箱地址；维护并及时更新个人信息以保持其真实、准确、即时、完整。</p>
  <p class="text-sp">（2）如用户代表其他自然人、法人及其他组织在软盈项目交易平台上注册会员，则用户声明并保证，用户已获得授权并有权使前述法律主体受本协议的约束。不断更新公司的资料，符合及时、详尽准确的要求。</p>
  <p class="text-sp">如果用户提供给软盈项目交易平台的资料不准确，不真实，不合法有效，软盈项目交易平台保留终止用户使用软盈项目交易平台各项服务的权利。用户同意，其提供的真实、准确的资料 作为认定用户与其软盈项目交易平台账号的关联性以及用户身份的唯一证据。用户在享用软盈项目交易平台各项服务的同时，同意接受软盈项目交易平台提供 的各类信息服务。</p>
  <p style="text-decoration: underline;"   class="text-sp"><strong>用户同意与注册、使用软盈项目交易平台帐号相关的一切资料、数据和记录，包括但不限于帐号名称、注册信息、所有登录、消费记录和相关的使用统计数字等归软盈项目交易平台所有。发生争议时，用户同意以软盈项目交易平台的系统数据为准，软盈项目交易平台保证该数据的真实性。尽管有前述约定，对于用户使用账号享受软盈项目交易平台旗下单项服务时产生的一切数据，包括但不限于技术登录记录、消费记录及其他技 术日志、技术客户服务记录、用户在技术中创造的社会网络内容等，归具体技术运营主体所有。发生争议时，用户同意以具体产品运营主体的系统数据为准。但是如果单项条款存在与前述不同的约定，则以单项条款约定为准。</strong></p>
  <p style="text-decoration: underline;"   class="text-sp"><strong>3.服务条款的修改</strong></p>
  <p style="text-decoration: underline;"   class="text-sp"><strong>软盈项目交易平台有权在必要时通过在网页上发出公告等合理方式修改本服务条款以及各单项服务的相关条款。用户在享受各项服务时，应当 及时查阅了解修改的内容，并自觉遵守本服务条款以及该单项服务的相关条款。用户如继续使用本服务条款涉及的服务，则视为对修改内容的同意，当发生有关争议时，以最新的服务条款为准；用户在不同意修改内容的情况下，有权停止使用本服务条款涉及的服务。</strong></p>
  <p style="text-decoration: underline;"   class="text-sp"><strong>4.服务的变更或中止</strong></p>
  <p style="text-decoration: underline;"   class="text-sp"><strong>软盈项目交易平台始终在不断变更和改进服务。软盈项目交易平台可能会增加或删除功能，也可能暂停或彻底停止某项服务。用户同意软盈项目交易平台有权行使上述权利且不需对用户或第三方承担任何责任。</strong></p>
  <p style="text-decoration: underline;"   class="text-sp"><strong>5.用户隐私制度</strong></p>
  <p style="text-decoration: underline;"   class="text-sp"><strong>用户知悉并同意，为便于向用户提供更好的服务，软盈项目交易平台将在用户自愿选择服务或者提供信息的情况下收集用户的个人信息，并将 这些信息进行整合。在用户使用软盈项目交易平台服务时，服务器会自动记录一些信息，包括但不限于URL、IP地址、浏览器类型、使用语言、访问日期和时间等。为方便用户登录或使用软盈项目交易平台的服务，软盈项目交易平台在有需要时将使用cookies等技术，并将收集到的信息发送到对应的服务器。用户可以选择接受或者拒绝 cookies。如用户选择拒绝cookies，则用户有可能无法登录或使用依赖于cookies的服务或者功能。软盈项目交易平台收集的信息将成为软盈项目交易平台常规业务档案的一部分。软盈项目交易平台同意善意使用收集的信息，且采取各项措施保证 信息安全。尊重用户个人隐私是软盈项目交易平台的一项基本政策。所以，软盈项目交易平台不会公开或透露用户的注册资料及保存在软盈项目交易平台各项服务中的非公开内容，除非软盈项目交易平台在诚信的基础上认为透露这些信息在以下几种情况是必要的：</strong></p>
  <p style="text-decoration: underline;"   class="text-sp"><strong>（1）事先获得用户的明确授权；或</strong></p>
  <p style="text-decoration: underline;"   class="text-sp"><strong>（2）遵守有关法律规定，包括在国家有关机关查询时，提供用户的注册信息、用户在软盈项目交易平台的网页上发布的信息内容及其发布时间、互联网地址或者域名；或</strong></p>
  <p style="text-decoration: underline;"   class="text-sp"><strong>（3）保持维护软盈项目交易平台的知识产权和其他重要权利；或</strong></p>
  <p style="text-decoration: underline;"   class="text-sp"><strong>（4）在紧急情况下竭力维护用户个人和社会大众的隐私安全；或</strong></p>
  <p style="text-decoration: underline;"   class="text-sp"><strong>（5）根据本条款相关规定或者软盈项目交易平台认为必要的其他情况下。</strong></p>
  <p style="text-decoration: underline;"   class="text-sp"><strong>软盈项目交易平台可能会与第三方合作向用户提供相关的网络服务，在此情况下，如该第三方同意承担与软盈项目交易平台同等的保护用户隐私的责任，则软盈项目交易平台可将用户信息提供给该第三方。</strong></p>
  <p class="text-sp">6.用户的账号、密码和安全性</p>
  <p class="text-sp">用户一旦注册成功成为用户，用户将得到一个密码和账号。用户可随时改变用户的密码，也可以结束旧的账户重开一个新账户。用户应维持密码及账号的机密安全， 如果用户未保管好自己的账号和密码而对用户、软盈项目交易平台或第三方造成损害，用户将负全部责任。用户同意若发现任何非法使用用户账号或安全漏洞的情况，有义务立即通告软盈项目交易平台。</p>
  <p style="text-decoration: underline;"   class="text-sp"><strong>7.责任声明</strong></p>
  <p class="text-sp">（1）软盈项目交易平台不保证网站是不受干扰的、没有故障的，也不对使用效果做任何保证。软盈项目交易平台不对因人为或非人为因素造成的用户与国际科技资源转移网服务器之间的连接受阻而无法访问负责。您同意独立承担因网站意外中断、操作或传输的迟延、电脑病毒、网络连接故障、未经授权的进入等引起的损 失。</p>
  <p class="text-sp">（2）因不可抗力（包括但不限于自然灾害、罢工或骚乱、暴动、战争行为、政府行为、以及因互联网的特殊性而产生的包括黑客攻击、互联网连通中断或者系统故 障、电信部门技术调整导致的影响、政府管制而造成的暂时性关闭在内的任何影响网络正常运营的因素）等非软盈项目交易平台原因，致使软盈项目交易平台履行迟延或不能履行的，软盈项目交易平台不承担任何责任。 </p>
  <p class="text-sp">（3）软盈项目交易平台将尽最大努力来减少错误，但网站上提供的服务和信息仍可能包含错误内容，软盈项目交易平台对用户因使用软盈项目交易平台而造 成的损失不负法律责任。软盈项目交易平台对其服务和信息不作保证，不论什么情况下对用户因使用软盈项目交易平台而造成的直接、间接、偶尔的、特殊的、 惩罚性的损害或其他一切损害不负法律责任，即便事先被告知损害存在的可能性也是如此。若您对软盈项目交易平台提供的部分或所有服务不满，您唯一的补救措 施是停止使用这些服务。 </p>
  <p class="text-sp">（4）对由于用户在使用软盈项目交易平台的过程中，违反本协议或通过提及而纳入本协议的条款和规则或用户违反任何法律或第三方的权利而产生或引起的每一 种类和性质的任何索赔、要求、诉讼、损失和损害（实际、特别及后果性的）而言，无论是已知或未知的，包括合理的律师费，用户同意就此对北京盈思创通科技发展有限公司、软盈项目交易平台、员工、所有者及代理人进行补偿并使其免受损害。</p>
  <p class="text-sp">（5）用户自己承担因使用软盈项目交易平台而产生的风险。软盈项目交易平台对用户在软盈项目交易平台上公布的信息中查找到的内容不负责任，对信息的真实性、即时性、安全性和正确性也不作保证。对通过软盈项目交易平台获取的任何信息，用户需自己甄别，判断其真伪；对因下载或引用软盈项目交易平台的数据、信息而造成的用户计算机系统损坏或数据丢失，软盈项目交易平台不负责任。软盈项目交易平台、员工、所有者及代理对用户使用软盈项目交易平台上 公布的信息而造成的损失或伤害以及用户相信软盈项目交易平台上的公布的信息内容而做出的决定或采取的行动不负责任。软盈项目交易平台、员工、所有者及 代理对用户使用或无法使用软盈项目交易平台的服务而造成的直接的、间接的、偶尔的、特殊的或其他损害不负法律责任，即便事先被告知损害存在的可能性也是如此。</p>
  <p class="text-sp">（6）鉴于不同国家的法律、法规、政策规定不同，为了遵守各国法律，软盈项目交易平台在不同国家用户访问时显示的内容可能会略有不同。在接受其他国家的用户访问时，软盈项目交易平台不对有针对性地屏蔽违反其他国家法律、法规、政策的信息的行为承担任何责任。</p>
  <p style="text-decoration: underline;"   class="text-sp"><strong>8.禁止服务的商业化</strong></p>
  <p style="text-decoration: underline;"   class="text-sp"><strong>用户承诺，非经软盈项目交易平台同意，用户不能利用软盈项目交易平台各项服务进行销售或其他商业用途。如用户有需要将服务用于商业用途，应书面通知软盈项目交易平台并获得软盈项目交易平台的明确授权。</strong></p>
  <p class="text-sp">9.用户管理</p>
  <p class="text-sp">用户独立承担其发布内容的责任。用户对服务的使用必须遵守所有适用于服务的地方法律、国家法律和国际法律。用户承诺：</p>
  <p class="text-sp">（1）用户在软盈项目交易平台的网页上发布信息或者利用软盈项目交易平台的服务时必须符合中国有关法规，不得在软盈项目交易平台的网页上或者利用软盈项目交易平台的服务制作、复制、发布、传播以下信息：</p>
  <p class="text-sp text-sp-db">  (a) 违反宪法确定的基本原则的；</p>
  <p class="text-sp text-sp-db">  (b) 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</p>
  <p class="text-sp text-sp-db">  (c) 损害国家荣誉和利益的；</p>
  <p class="text-sp text-sp-db">  (d) 煽动民族仇恨、民族歧视，破坏民族团结的；</p>
  <p class="text-sp text-sp-db">  (e) 破坏国家宗教政策，宣扬邪教和封建迷信的；</p>
  <p class="text-sp text-sp-db">  (f) 散布谣言，扰乱社会秩序，破坏社会稳定的；</p>
  <p class="text-sp text-sp-db">  (g) 散布淫秽、色情、赌博、暴力、恐怖或者教唆犯罪的；</p>
  <p class="text-sp text-sp-db">  (h) 侮辱或者诽谤他人，侵害他人合法权益的；</p>
  <p class="text-sp text-sp-db">  (i) 煽动非法集会、结社、游行、示威、聚众扰乱社会秩序的；</p>
  <p class="text-sp text-sp-db">  (j) 以非法民间组织名义活动的；</p>
  <p class="text-sp text-sp-db">  (k) 含有法律、行政法规禁止的其他内容的。</p>
  <p class="text-sp">（2）用户在软盈项目交易平台的网页上发布信息或者利用软盈项目交易平台的服务时还必须符合其他有关国家和地区的法律规定以及国际法的有关规定。用户需遵守法律法规的规定使用软盈项目交易平台。</p>
  <p class="text-sp">（3）用户不得利用软盈项目交易平台的服务从事以下活动：</p>
  <p class="text-sp text-sp-db">  (a) 未经允许，进入计算机信息网络或者使用计算机信息网络资源的；</p>
  <p class="text-sp text-sp-db">(b) 未经允许，对计算机信息网络功能进行删除、修改或者增加的；</p>
  <p class="text-sp text-sp-db">(c) 未经允许，对进入计算机信息网络中存储、处理或者传输的数据和应用程序进行删除、修改或者增加的；</p>
  <p class="text-sp text-sp-db">(d) 故意制作、传播计算机病毒等破坏性程序的；</p>
  <p class="text-sp text-sp-db">(e) 其他危害计算机信息网络安全的行为。</p>
  <p class="text-sp">（4）用户不得以任何方式干扰软盈项目交易平台的服务。</p>
  <p class="text-sp">（5）用户不得滥用软盈项目交易平台</p>
  <p class="text-sp">（6）用户应遵守软盈项目交易平台的所有其他规定和程序。</p>
  <p class="text-sp">（7）用户对通过软盈项目交易平台发布的所有信息（内容包括但不限于个人信息、商业信息，形式包括但不限于文字、图片、视频）的真实性、准确性、即时性、完整性和合法性独立承担所有责任。 </p>
  <p class="text-sp">（8）以下信息在软盈项目交易平台上禁止发布：</p>
  <p class="text-sp text-sp-db">(a) 有关宗教、种族或性别等的贬损言辞，或含淫秽、色情、侮辱、诽谤等内容的信息；</p>
  <p class="text-sp text-sp-db">(b) 侵犯任何第三方著作权、专利、商标、商业秘密、隐私权、名誉权或其它权利的信息；</p>
  <p class="text-sp text-sp-db">(c) 其它任何违反国家法律法规、规章制度等的信息。</p>
  <p class="text-sp">（9）软盈项目交易平台有权审核、发布或删除会员提交的信息。软盈项目交易平台将尽力核查会员提交的信息，但并不能完全保证信息的真实性、准确性和合法性，同时也不承担由此引至的任何法律责任。</p>
  <p class="text-sp">（10）软盈项目交易平台含有与其他网站的链接。软盈项目交易平台并不能控制这些网站及其所提供的资源，所以对链接网站上的内容、广告、服务、产品信息的真实、准确、即时、完整性不做任何承诺，并且对链接网站不承担任何法律责任。</p>
  <p class="text-sp">（11）对于用户选择并张贴在软盈项目交易平台中可公开获取区域的公司、产品或其他信息（包括但不限于文字、图片、视频），用户同意软盈项目交易平台在全世界范围 内具有免费的、永久的、不可撤销的、非独家的和完全的许可和再许可的权利，以使用、复制、修改、改编、出版、翻译、据以创作衍生作品，传播、表演和展示前 述内容（整体或部分），和/或将前述内容编入其他任何形式的作品、媒体、或技术中，不论是当前已知的或以后开发的。同时，用户同意软盈项目交易平台在未改变用户提供信息的实质内容的情况下免于承担因该信息引起的任何法律责任。</p>
  <p style="text-decoration: underline;"   class="text-sp"><strong>（12）用户同意软盈项目交易平台在其运营的所有网站（包括但不限于现有的或将来可能创建的网站）上推广用户所提供的公司、产品或其他信息（以下简称“信息”），且同意软盈项目交易平台在未改变用户所提供信息实质内容的情况下免于承担因该信息引起的任何法律责任。</strong></p>
  <p class="text-sp">用户须对自己在使用软盈项目交易平台过程中的行为承担法律责任。用户承担法律责任的形式包括但不限于：对受到侵害者进行赔偿，以及在软盈项目交易平台首先承担 了因用户行为导致的行政处罚或侵权损害赔偿责任后，用户应给予软盈项目交易平台等额的赔偿。若用户违反以上规定，软盈项目交易平台有权做出独立判断立即暂停或终止 对用户提供部分或全部服务，包括冻结、取消用户服务账号等措施。用户理解，如果软盈项目交易平台发现其网站传输的信息明显属于上段第(1)条所列内容之 一，依据中国法律，软盈项目交易平台有义务立即停止传输，保存有关记录，向国家有关机关报告，并且删除含有该内容的地址、目录或关闭服务器。</p>
  <p class="text-sp">10.保障</p>
  <p class="text-sp">用户同意保障和维护软盈项目交易平台全体成员的利益，承担由用户违反服务条款的损害补偿费用，其它人使用用户的电脑、账号而产生的费用。用户或者使用用户账号的其他人在进行游戏过程中侵犯第三方知识产权及其他权利而导致被侵权人索赔的，由用户承担责任。</p>
  <p style="text-decoration: underline;"   class="text-sp"><strong>如用户或其它网络服务提供者利用软盈项目交易平台的服务侵害他人民事权益的，应当承担侵权等法律责任。</strong></p>
  <p style="text-decoration: underline;"   class="text-sp"><strong>如用户利用软盈项目交易平台的服务实施侵权行为的，被侵权人有权通知软盈项目交易平台采取删除、屏蔽、断开链接等必要措施。软盈项目交易平台接到通知后，因自身过错若未及时采取必要措施的，按法律规定承担责任。</strong></p>
  <p style="text-decoration: underline;"   class="text-sp"><strong>11.费用</strong></p>
  <p class="text-sp">注册免费会员及使用相应服务是免费的；注册高级会员或选择其他收费服务，具体费用标准请参看软盈项目交易平台上公布的相应说明。软盈项目交易平台保留修改费用条款的权利，一旦费用条款被修改，将立即在软盈项目交易平台上公布。</p>
  <p class="text-sp">请注意：</p>
  <p style="text-decoration: underline;"   class="text-sp"><strong>软盈项目交易平台不负责对您因使用软盈项目交易平台的服务而需支付的软硬件、税收、通讯、网络服务费及其它费用。软盈项目交易平台有权在未经通知的情况下随时改变或不继续提供某些或全部服务（暂时性的或永久的）。</strong></p>
  <p class="text-sp">12.通知</p>
  <p class="text-sp">任何软盈项目交易平台的通知都将以电子邮件形式，向用户的电子邮箱地址发送（用户同意，如用户修改原注册时提交的电子邮箱地址、并通过软盈项目交易平台审核的，以新电子邮箱地址为准）。该电子邮件进入前述电子邮箱接收系统时，视为送达。<strong>软盈项目交易平台有权通过用户提供的联系方式（包括但不限于电子邮件、手机短信等）发送与软盈项目交易平台所提供服务相关的各类商业信息，如用户拒绝继续接收上述商业信息，必须通过书面方式通知我们。</strong></p>
  <p class="text-sp">13.内容、商标的所有权</p>
  <p class="text-sp">软盈项目交易平台上所有内容的选材、整理、编排、排版、汇编，以及由软盈项目交易平台创作的文字、图片等作品的著作权，无论是否明示，均属软盈项目交易平台所 有。任何自然人、法人及其他组织未经软盈项目交易平台书面授权或许可，不得修改、出版、传播、参与传播、销售、制作衍生作品，或以其他任何方式使用整体或部分的国际 科技资源转移网上的内容，包括但不限于公司信息、产品信息，软盈项目交易平台将保留追究其法律责任的权利。</p>
  <p class="text-sp">未经软盈项目交易平台授权，任何人不得使用软盈项目交易平台设计、使用、所有的商标，包括但不限于。请查阅软盈项目交易平台商标介绍及使用规章。所有其它在软盈项目交易平台上出现的商标为它们各自的权利人所有。</p>
  <p class="text-sp">软盈项目交易平台对其开发或者合作开发的系统等享有知识产权。软盈项目交易平台的所有权利受法律保护。</p>
  <p class="text-sp">软盈项目交易平台上所有可阅读的资料等都受到《中华人民共和国著作权法》、《中华人民共和国商标法》等的法律保护。软盈项目交易平台尊重和保护他人的 知识产权，不允许在没有著作权、商标权或其他专有权权利人明确许可的情况下，发布或者传播任何可能侵犯他人权利的信息、图片，否则，行为人承担由此产生的 全部责任。</p>
  <p style="text-decoration: underline;"   class="text-sp"><strong>14.法律</strong></p>
  <p class="text-sp">本协议的订立、变更、执行和解释，以及与本协议有关的争议解决，均应适用中华人民共和国法律。如与本协议有关的某一特定事项缺乏明确法律规定，则应参照通用的国际商业惯例和行业惯例。</p>
  <p style="text-decoration: underline;"   class="text-sp"><strong>15. 纠纷、争议及投诉处理</strong></p>
  <p class="text-sp">（1）用户同意在使用软盈项目交易平台的过程中，当发现任何可能侵害自己或软盈项目交易平台权利的事实时，应及时通知软盈项目交易平台并提供相应的证明材料。因投诉不实给软盈项目交易平台或第三方造成损失的，用户应承担法律责任。</p>
  <p class="text-sp">（2）软盈项目交易平台有权接受并处理您与其他用户间因使用软盈项目交易平台而产生的纠纷、争议及投诉，有权通过电子邮件等联系方式向您了解情况、并 将所了解的情况通过电子邮件等方式通知对方。您有义务在收到软盈项目交易平台通知后、在指定的时间内提供相应的资料，配合纠纷、争议及投诉的情况了解与 处理，否则，软盈项目交易平台有权单方面独立判断其他用户对您的投诉及（或）偿付要求是否成立，做出对您不利的处理结果。若软盈项目交易平台判断用户的偿付要求成立，则您应及时进行偿付，同时，软盈项目交易平台有权立即中止或终止您的相关软盈项目交易平台或者拒绝您以任何形式使用国际科技资源转移网、向权利人提供您必要的身份信息。软盈项目交易平台不对因此给您造成的服务减少等承担任何责任。</p>
  <p class="text-sp">（3）因软盈项目交易平台并非司法机关等国家权利机关，您完全理解并承认：软盈项目交易平台对证据的鉴别能力及对纠纷的处理能力有限，受理、处理纠纷、争议及投诉完全是基于您的授权，不保证处理结果符合您的期望，亦不对处理结果承担任何责任。软盈项目交易平台有权决定是否参与争议的处理。</p>
  <p class="text-sp">（4）经生效法律文书确认用户存在违法或违反本协议行为或者软盈项目交易平台自行判断会员涉嫌存在违法或违反本协议行为的，软盈项目交易平台有权公布用户的违法行为并做出相应处理，包括但不限于终止服务、永久禁止使用软盈项目交易平台等。</p>
  <p style="text-decoration: underline;"   class="text-sp"><strong>16.中止与终止</strong></p>
  <p style="text-decoration: underline;"   class="text-sp"><strong>对于用户的以下行为，软盈项目交易平台有权在告知或未告知的情况下中止或终止其相关服务或者拒绝其以任何形式使用软盈项目交易平台，且不对因此给您造成的服务减少等承担任何责任，并保留追究您法律责任的权利：</strong></p>
  <p class="text-sp">（1）会员的营业执照等证照信息与个人信息不一致时，未及时更新个人信息，或实际经营信息与证照信息不一致时，未及时更新证照信息； </p>
  <p class="text-sp">（2）利用软盈项目交易平台滥发重复信息，发布国家法律法规等禁止或限制发布的信息，发布不属于会员经营范围的信息，或与软盈项目交易平台无关的信息；</p>
  <p class="text-sp">（3）未经请求或授权向软盈项目交易平台会员发送大量与业务不相关的信息；</p>
  <p class="text-sp">（4）冒用其他企业的名义发布商业信息，进行商业活动；</p>
  <p class="text-sp">（5）计划破坏、攻击软盈项目交易平台网站电脑系统、网络的完整性，或者试图擅自进入软盈项目交易平台网站电脑系统、网络；</p>
  <p class="text-sp">（6）使用或提供含有毁坏、干扰、截取或侵占任何系统、数据或个人资料的任何电脑病毒、伪装破坏程序、电脑蠕虫、定时程序炸弹或其他破坏性程序；</p>
  <p class="text-sp">（7）盗用他人在软盈项目交易平台上的登录名和/或密码；</p>
  <p class="text-sp">（8）未经软盈项目交易平台同意的帐号出售或授权使用行为；</p>
  <p class="text-sp">（9）通过或从事涉及软盈项目交易平台的欺诈活动； </p>
  <p class="text-sp">（10）通过或从事涉及软盈项目交易平台的知识产权侵权行为； </p>
  <p class="text-sp">（11）违反国家法律法规、规章制度、软盈项目交易平台有关协议、规定、规则、程序和惯例的其他行为。</p>
  <p class="text-sp">17.其他</p>
  <p class="text-sp">（1）软盈项目交易平台不行使、未能及时行使或者未充分行使本条款或者按照法律规定所享有的权利，不应被视为放弃该权利，也不影响软盈项目交易平台在将来行使该权利。</p>
  <p class="text-sp">（2）如本条款中的任何条款无论因何种原因完全或部分无效或不具有执行力，本服务条款的其余条款仍应有效且具有约束力，软盈项目交易平台及用户均应尽力使该条款设定的本意得到实现。</p>
  <div style="height: 30px"></div>



















</div>
