<div class="row">
  <div class="col-md-10 col-md-offset-2 font-prompt" ng-if="vm.usertype === 1">
    <p>您过去项目所在的行业有哪些？</p>
    <p>这便于您作为资深的经验者，更好的承接新项目</p>
  </div>
  <div class="col-md-10 col-md-offset-2 font-prompt" ng-if="vm.usertype === 0">
    <p>您过去项目所在的行业有哪些？</p>
    <p>这便于贵司作为行业的资深公司，更好的承接项目</p>
  </div>
</div>
<hr/>
<div class="form-group" style="border-bottom: none">
  <div class="col-md-2 control-label" style="padding-top: 0">
    <label>行业经验选择</label>
  </div>
  <div class="col-md-10">
    <div ng-repeat="i in vm.lists">
      <label class="normal-weight"><input type="checkbox" name="choice" ng-model="vm.model[$index]" ng-true-value="{{i.id}}"/>
        <span> {{i.name}}</span></label>
    </div>
  </div>
</div>
