<div class="base-container">
  <div class="row no-margin">
    <span class="normal-title" ng-if="vm.user.type === 1 || vm.user.basetype === 1">已承接项目</span>
  </div>
  <div class="spinner" ng-if="!vm.lists">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>
  <div class="row" ng-if="vm.lists && !vm.lists.length">
    <div class="static-box">
      <p>没有符合条件的结果，请更换检索条件重新检索!</p>
    </div>
  </div>
  <div class="row no-margin soft-list" ng-repeat="i in vm.lists" ng-if="vm.lists.length">
    <h4 class="normal-title"><a style="font-size: 15px" ui-sref="app.manage.freelance.show({id: i.id,requesttype: i.requesttype})">{{i.proname}}</a></h4>
    <p class="overflow-p">
      {{i.intro}}</p>
    <ul class="list-unstyled no-margin">
      <li class="col-md-3 no-padding-left"><span>{{i.name}}</span></li>
      <li class="col-md-3"><strong>项目预算：</strong><span>{{i.price}} <span>{{i.requesttype === 0?'元': (i.requesttype === 1?'/人/月': '/人/天')}}</span></span></li>
      <li class="col-md-3"><strong>项目开始日期：</strong><span>{{i.starttime}}</span></li>
      <li class="col-md-3"><strong>项目结束日期：</strong><span>{{i.endtime}}</span></li>
    </ul>
  </div>
</div>
