<div class="row free-base">
  <div class="col-md-12" style="text-align: center">
    <div class="circle circle-active">
      <div>1</div>
      <span class="help-block">基本信息</span>
    </div>
    <div class="circle-line circle-line-active">
      <div></div>
    </div>
    <div class="circle circle-active">
      <div>2</div>
      <span class="help-block">行业经验</span>
    </div>
    <div class="circle-line">
      <div></div>
    </div>
    <div class="circle">
      <div>3</div>
      <span class="help-block">擅长技能</span>
    </div>
    <div class="circle-line">
      <div></div>
    </div>
    <div class="circle">
      <div>4</div>
      <span class="help-block">履历&经验</span>
    </div>
  </div>
</div>
<form class="form-container form-horizontal" style="padding-right: 0">
  <div class="row">
    <div class="col-md-10 col-md-offset-2 font-prompt">
      <p>您过去项目所在的行业有哪些？</p>
      <p>这便于您作为资深的经验者，更好的承接新项目</p>
    </div>
  </div>
  <hr/>
  <div class="form-group" style="border-bottom: none">
    <div class="col-md-2 control-label" style="padding-top: 0">
      <label>行业经验选择</label>
    </div>
    <div class="col-md-10">
      <div ng-repeat="i in vm.lists">
        <label class="normal-weight"><input type="checkbox" name="choice" ng-model="vm.experience[$index]" ng-true-value="{{i.id}}" ng-false-value="null"/>
          <span> {{i.name}}</span></label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-2 col-md-10" style="margin-top: 30px">
      <button class="btn btn-default" type="button" ng-click="vm.back()">上一步</button>
      <div class="btn btn-primary" ng-click="vm.next()">下一步</div>
    </div>
  </div>
  <!--  <div class="row">
      <div class="col-md-10 col-md-offset-2 font-prompt">
        <p>您过去项目所在的行业有哪些？</p>
        <p>这便于您作为资深的经验者，更好的承接新项目</p>
      </div>
    </div>
  <hr/>
  <div class="form-group" style="border-bottom: none">
    <div class="col-md-2 control-label" style="padding-top: 0">
      <label>行业经验选择</label>
    </div>
    <div class="col-md-10">
      <div ng-repeat="i in vm.lists">
        <label class="normal-weight"><input type="checkbox" name="choice" ng-model="vm.experience[$index]" ng-true-value="{{i.id}}"/>
          <span> {{i.name}}</span></label>
      </div>
       </div>
    <div class="col-md-offset-2 col-md-10" style="margin-top: 30px">
      <div class="btn btn-primary" ng-click="vm.next()">下一步</div>
    </div>
  </div>-->
</form>
