<div class="row free-base">
  <div class="col-md-12" style="text-align: center">
    <div class="circle circle-active">
      <div>1</div>
      <span class="help-block">基本信息</span>
    </div>
    <div class="circle-line circle-line-active">
      <div></div>
    </div>
    <div class="circle circle-active">
      <div>2</div>
      <span class="help-block">行业经验</span>
    </div>
    <div class="circle-line circle-line-active">
      <div></div>
    </div>
    <div class="circle circle-active">
      <div>3</div>
      <span class="help-block">擅长技能</span>
    </div>
    <div class="circle-line">
      <div></div>
    </div>
    <div class="circle">
      <div>4</div>
      <span class="help-block">履历&经验</span>
    </div>
  </div>
</div>
<div class="form-container">
  <form class="form-horizontal" name="resume">
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>能力级别</label>
      </div>
      <div class="col-md-10">
        <select class="form-control" ng-model="vm.resume.levels" ng-options="i.id as i.name for i in vm.levels">
          <option value="">请选择</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>期望职位</label>
      </div>
      <div class="col-md-10">
        <select ng-model="vm.resume.expectjob" class="form-control" ng-options="i.name as i.name for i in vm.jobs">
          <option value="">请选择</option>
        </select>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-success': resume.wage.$valid}">
      <div class="col-md-2 control-label">
        <label>期望日薪</label>
      </div>
      <div class="col-md-5">
        <input type="text"
               class="form-control"
               name="wage"
               ng-model="vm.resume.money"
               placeholder="请输入期望日薪"
               required
        />
        <div class="help-block error-font" ng-if="(resume.wage.$error.required) && resume.wage.$touched">期望日薪不能为空</div>
        <span class="input-result" ng-if="resume.wage.$valid"><i class="fa fa-check"></i></span>
      </div>
      <div class="col-md-5 margin-seven">
        <span>元/天</span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>雇佣历史</label>
      </div>
      <div class="col-md-10">
        <textarea class="form-control" placeholder="请输入雇佣历史,不得少于10个字符" minlength="10" ng-model="vm.resume.history"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>项目履历</label>
      </div>
      <div class="col-md-10">
        <textarea class="form-control" ng-model="vm.resume.proexperience" placeholder="请输入项目履历,不得少于10个字符" minlength="10" required="required"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>教育背景</label>
      </div>
      <div class="col-md-10">
        <textarea class="form-control" ng-model="vm.resume.educational" placeholder="请输入教育背景,不得少于10个字符" minlength="10" required="required"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>资格证书</label>
      </div>
      <div class="col-md-10">
       <select class="form-control" ng-model="vm.resume.certificate" ng-options="i.id as i.name for i in vm.certificates">
         <option value="">请选择资格证书</option>
       </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>其他信息</label>
      </div>
      <div class="col-md-10">
       <textarea class="form-control" ng-model="vm.resume.other" placeholder="请输入其他信息"></textarea>
      </div>
    </div>
    <div class="form-group" style="border-bottom: none">
      <div class="col-md-10 col-md-offset-2">
        <div class="btn btn-primary" ng-click="vm.next()">完成</div>
      </div>
    </div>
  </form>
</div>
