<div class="row free-base">
  <div class="col-md-12" style="text-align: center">
    <div class="circle circle-active">
      <div>1</div>
      <span class="help-block">基本信息</span>
    </div>
    <div class="circle-line circle-line-active">
      <div></div>
    </div>
    <div class="circle circle-active">
      <div>2</div>
      <span class="help-block">行业经验</span>
    </div>
    <div class="circle-line circle-line-active">
      <div></div>
    </div>
    <div class="circle circle-active">
      <div>3</div>
      <span class="help-block">擅长技能</span>
    </div>
    <div class="circle-line circle-line-active">
      <div></div>
    </div>
    <div class="circle circle-active">
      <div>4</div>
      <span class="help-block">履历&经验</span>
    </div>
  </div>
</div>
<div class="form-container">
  <form class="form-horizontal" name="resume" ng-submit="vm.next()">
    <!--<div class="form-group" ng-class="{'has-success': resume.levels.$valid}">
      <div class="col-md-2 control-label">
        <label>能力级别</label>
      </div>
      <div class="col-md-10">
        <select class="form-control" required name="levels" ng-model="vm.resume.levels"
                ng-options="i.id as i.name for i in vm.levels">
          <option value="">请选择</option>
        </select>
      </div>
    </div>-->
  <!--  <div class="form-group" ng-class="{'has-success': resume.expectjob.$valid}">
      <div class="col-md-2 control-label">
        <label>期望职位</label>
      </div>
      <div class="col-md-10">
        <select ng-model="vm.resume.expectjob" required name="expectjob" class="form-control"
                ng-options="i.name as i.name for i in vm.jobs">
          <option value="">请选择</option>
        </select>
      </div>
    </div>-->
    <div class="form-group" ng-class="{'has-success': resume.wage.$valid}">
      <div class="col-md-2 control-label">
        <label>期望日薪</label>
      </div>
      <div class="col-md-5">
        <input type="text"
               class="form-control"
               name="wage"
               ng-model="vm.resume.money"
               ng-pattern="/^[0-9]{1,}$/"
               ng-class="{'error-input': (resume.wage.$error.required || resume.wage.$error.pattern) && resume.wage.$touched}"
               placeholder="请输入期望日薪"
               required
        />
        <div class="help-block error-font" ng-if="(resume.wage.$error.required) && resume.wage.$touched">期望日薪不能为空</div>
        <div class="help-block error-font" ng-if="(resume.wage.$error.pattern) && resume.wage.$touched">期望日薪必须为数字</div>
        <span class="input-result" ng-if="resume.wage.$valid"><i class="fa fa-check"></i></span>
      </div>
      <div class="col-md-5 margin-seven">
        <span>元/天</span>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-success': resume.history.$valid}">
      <div class="col-md-2 control-label">
        <label>雇佣历史</label>
      </div>
      <div class="col-md-10" ng-class="{'summernote-value': vm.resume.history.length}">
        <!--<textarea class="form-control"
                  ng-class="{'error-input': (resume.history.$error.minlength || resume.history.$error.required) && resume.history.$touched}"
                  name="history" required placeholder="请输入雇佣历史,不得少于10个字符" minlength="10"
                  ng-model="vm.resume.history"></textarea>-->
        <summernote style="position: relative;z-index: 10" id="summernote" height="200" lang="zh-CN" ng-model="vm.resume.history"
        ></summernote>
        <div style="position: absolute;top: 37px;color: #aaa;" ng-if="!vm.resume.history">
          <p>请输入雇佣历史,不得少于10个字符</p>
          <p>例：</p>
          <p>XX年XX月~XX年XX月 受雇于XX公司</p>
          <p>XX年XX月~XX年XX月 受雇于XX公司</p>
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-success': resume.proexperience.$valid}">
      <div class="col-md-2 control-label">
        <label>项目履历</label>
      </div>
      <div class="col-md-10" ng-class="{'summernote-value': vm.resume.proexperience.length}">
        <!--<textarea class="form-control"
                  ng-class="{'error-input': (resume.proexperience.$error.minlength || resume.proexperience.$error.required) && resume.proexperience.$touched}"
                  name="proexperience" ng-model="vm.resume.proexperience" placeholder="请输入项目履历,不得少于10个字符" minlength="10"
                  required="required"></textarea>-->
        <summernote style="position: relative;z-index: 10" id="summernote2" height="200" lang="zh-CN" ng-model="vm.resume.proexperience"
        ></summernote>
        <div style="position: absolute;top: 37px;color: #aaa;" ng-if="!vm.resume.proexperience">
          <p>请输入项目履历,不得少于10个字符</p>
          <p>例：</p>
          <p>XX年XX月~XX年XX月 大型SAP实施部署项目</p>
          <p>XX年XX月~XX年XX月 大型Java开发项目</p>
        </div>
        <div class="help-block error-font" ng-if="resume.proexperience.$error.required && resume.proexperience.$touched">项目履历不能为空</div>
        <div class="help-block error-font" ng-if="resume.proexperience.$error.minlength && resume.proexperience.$touched">不得少于10个字</div>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-success': resume.educational.$valid}">
      <div class="col-md-2 control-label">
        <label>教育背景</label>
      </div>
      <div class="col-md-10" ng-class="{'summernote-value': vm.resume.educational.length}">
       <!-- <textarea class="form-control" name="educational" ng-model="vm.resume.educational"
                  ng-class="{'error-input': (resume.educational.$error.minlength || resume.educational.$error.required) && resume.educational.$touched}"
                  placeholder="请输入教育背景,不得少于10个字符" minlength="10" required="required"></textarea>-->
        <summernote style="position: relative;z-index: 10" id="summernote3" height="200" lang="zh-CN" ng-model="vm.resume.educational"
        ></summernote>
        <div style="position: absolute;top: 37px;color: #aaa;" ng-if="!vm.resume.educational">
          <p>请输入教育背景,不得少于10个字符</p>
          <p>例：</p>
          <p>XX年XX月~XX年XX月 XX大学 软件工程  本科</p>
          <p>XX年XX月~XX年XX月 XX大学 计算机系统设计 硕士 </p>
        </div>
        <div class="help-block error-font" ng-if="resume.educational.$error.required && resume.educational.$touched">项目履历不能为空</div>
        <div class="help-block error-font" ng-if="resume.educational.$error.minlength && resume.educational.$touched">不得少于10个字</div>
      </div>
    </div>
<!--    <div class="form-group" ng-class="{'has-success': resume.certificate.$valid}">
      <div class="col-md-2 control-label">
        <label>资格证书</label>
      </div>
      <div class="col-md-10">
        <select class="form-control" name="certificate" required ng-model="vm.resume.certificate"
                ng-options="i.id as i.name for i in vm.certificates">
          <option value="">请选择资格证书</option>
        </select>
      </div>
    </div>-->
    <div class="form-group">
      <div class="col-md-2 control-label" style="padding-left: 0">
        <label>其他信息（可选填）</label>
      </div>
      <div class="col-md-10">
        <textarea class="form-control" name="other" ng-model="vm.resume.others" placeholder="请输入其他信息。例：取得过Oracle高级认证。"></textarea>
      </div>
    </div>
    <div class="form-group" style="border-bottom: none">
      <div class="col-md-10 col-md-offset-2">
        <button type="submit" class="btn btn-default" ng-click="vm.back()">上一步</button>
        <button type="submit" class="btn btn-primary" ng-disabled="resume.$invalid">完成</button>
      </div>
    </div>
  </form>
</div>
