<div class="row free-base">
  <div class="col-md-12" style="text-align: center">
    <div class="circle circle-active">
      <div>1</div>
      <span class="help-block">基本信息</span>
    </div>
    <div class="circle-line circle-line-active">
      <div></div>
    </div>
    <div class="circle circle-active">
      <div>2</div>
      <span class="help-block">行业经验</span>
    </div>
    <div class="circle-line circle-line-active">
      <div></div>
    </div>
    <div class="circle circle-active">
      <div>3</div>
      <span class="help-block">擅长技能</span>
    </div>
    <div class="circle-line">
      <div></div>
    </div>
    <div class="circle">
      <div>4</div>
      <span class="help-block">履历&经验</span>
    </div>
  </div>
</div>
<form class="form-container form-horizontal" style="padding-right: 0">
  <div class="row">
    <div class="col-md-10 col-md-offset-2 font-prompt">
      <p>技术技能有哪些?</p>
      <p>通过最多可选的20个选项，您能充分展现自己的能力和水平，能给客户以重要参考，才能更好好的承接项目</p>
    </div>
  </div>
  <hr/>
 <!-- <div class="form-group" ng-repeat="skill in vm.skills">
    <div class="col-md-2 control-label" style="padding-top: 0">
      <label>{{skill.remark}}</label>
    </div>
    <div class="col-md-2" ng-repeat="i in skill.diclist track by $index"
         ng-class="{'col-md-offset-2': $index%5 === 0 && $index != 0}">
      <label class="normal-weight"><input type="checkbox" name="choice" ng-model="vm.skill[i.id]"
                                          ng-true-value="{{i.id}}"/><span> {{i.name}}</span></label><br>
    </div>
  </div>-->
  <div class="form-group" ng-repeat="skill in vm.skills" ng-if="$index < 2">
    <div class="col-md-2 control-label" style="padding-top: 0">
      <label>{{skill.remark}}</label>
    </div>
    <div class="col-md-2" ng-repeat="i in skill.diclist track by $index"
         ng-class="{'col-md-offset-2': $index%5 === 0 && $index != 0}">
      <label class="normal-weight"><input type="checkbox" name="choice" ng-model="vm.skill[i.id]"
                                          ng-true-value="{{i.id}}"/><span> {{i.name}}</span></label><br>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-2 control-label" style="padding-top: 0;color: #3285ff;cursor: pointer" ng-click="show = !show">
      <label>更多</label><span> <i class="fa fa-plus" ng-if="!show"></i> <i class="fa fa-minus" ng-if="show"></i></span>
    </div>
  </div>
  <div class="form-group" ng-repeat="skill in vm.skills" ng-if="$index >= 2 && show">
    <div class="col-md-2 control-label" style="padding-top: 0">
      <label>{{skill.remark}}</label>
    </div>
    <div class="col-md-2" ng-repeat="i in skill.diclist track by $index"
         ng-class="{'col-md-offset-2': $index%5 === 0 && $index != 0}">
      <label class="normal-weight"><input type="checkbox" name="choice" ng-model="vm.skill[i.id]"
                                          ng-true-value="{{i.id}}"/><span> {{i.name}}</span></label><br>
    </div>
  </div>
  <div class="form-group" ng-if="show">
    <div class="col-md-2 control-label" style="padding-top: 0">
      <label>其他</label>
    </div>
    <div class="col-md-8">
      <input type="text" ng-model="vm.other" class="form-control" placeholder="可输入其他技能，多个技能可用逗号分隔，例如：COBOL，Ruby">
    </div>
  </div>
 <div class="form-group" style="border-bottom: none">
   <div class="col-md-offset-2 col-md-10" style="margin-top: 30px">
     <button class="btn btn-default" type="button" ng-click="vm.back()">上一步</button>
     <div class="btn btn-primary" ng-click="vm.next()">下一步</div>
   </div>
 </div>
</form>
