<div class="row free-base">
  <div class="col-md-12" style="text-align: center">
    <div class="circle circle-active">
      <div>1</div>
      <span class="help-block">基本信息</span>
    </div>
    <div class="circle-line circle-line-active">
      <div></div>
    </div>
    <div class="circle circle-active">
      <div>2</div>
      <span class="help-block">行业经验</span>
    </div>
    <div class="circle-line">
      <div></div>
    </div>
    <div class="circle">
      <div>3</div>
      <span class="help-block">擅长技能</span>
    </div>
    <div class="circle-line">
      <div></div>
    </div>
    <div class="circle">
      <div>4</div>
      <span class="help-block">履历&经验</span>
    </div>
  </div>
</div>
<form class="form-container form-horizontal" style="padding-right: 0">
  <div class="row">
    <div class="col-md-10 col-md-offset-2 font-prompt">
      <p>技术技能有哪些?</p>
      <p>通过最多可选的20个选项，您能充分展现自己的能力和水平，能给客户以重要参考，才能更好好的承接项目</p>
    </div>
  </div>
  <hr/>
  <skill lists="vm.lists" model="vm.skill"></skill>
 <div class="form-group" style="border-bottom: none">
   <div class="col-md-offset-2 col-md-10" style="margin-top: 30px">
     <div class="btn btn-primary" ng-click="vm.next()">下一步</div>
   </div>
 </div>
</form>
