<div class="row free-base">
  <div class="col-md-12" style="text-align: center">
    <div class="circle circle-active">
      <div>1</div>
      <span class="help-block">企业基本信息</span>
    </div>
    <div class="circle-line">
      <div></div>
    </div>
    <div class="circle">
      <div>2</div>
      <span class="help-block">行业经验</span>
    </div>
    <div class="circle-line">
      <div></div>
    </div>
    <div class="circle">
      <div>3</div>
      <span class="help-block">擅长技能</span>
    </div>
    <div class="circle-line">
      <div></div>
    </div>
    <div class="circle">
      <div>4</div>
      <span class="help-block">企业资质</span>
    </div>
  </div>
</div>
<form class="form-container form-horizontal" ng-submit="vm.next()" style="padding-right: 0">
  <experience lists = 'vm.lists' model="vm.experience"></experience>
  <div class="row">
    <div class="col-md-offset-2 col-md-10" style="margin-top: 30px">
      <button class="btn btn-primary" type="submit">下一步</button>
    </div>
  </div>
</form>
