<div class="ibox" style="height: 100%">
  <div style="position: relative;height: 100%;width: 100%">
    <div class="move-left" id="move-left" ng-click="vm.moveToLeft()" ng-if="vm.type === 'media'"></div>
    <div class="box-item">
      <div class="show-item" id="move-list" style="left: -200%">
        <div class="move-box box-4">
          <div class="row" style="height: 100%">
            <div class="col-md-12 col-xs-12 fight">
              <div id="fight-content">
              </div>
            </div>
          </div>
        </div>
        <div class="move-box box-1">
          <div class="box-title">
            <div class="row" style="height: 100%">
              <div class="col-md-1 list-title" style="width: 4%;text-align: left;display: table">
                <span style="display: table-cell;vertical-align: middle">序号</span>
              </div>
              <div class="col-md-1 list-title" style="display: table">
                <span class="-middle-box" style="display: table-cell;vertical-align: middle">省份</span>
              </div>
              <div class="col-md-3 list-title" style="width: 29%">
                <div class="col-md-12">
                  <span>销量</span>
                </div>
                <div class="col-md-4"><span>销量</span></div>
                <div class="col-md-4"><span>销量占比(%)</span></div>
                <div class="col-md-4"><span>同比增减(%)</span></div>
              </div>
              <div class="col-md-2 list-title" style="width: 20%">
                <div class="col-md-12">
                  <span>价格</span>
                </div>
                <div class="col-md-6"><span>均价</span></div>
                <div class="col-md-6"><span>同比变化(%)</span></div>
              </div>
              <div class="col-md-4 list-title" style="width: 38%;border-right: none">
                <div class="col-md-12">
                  <span>产品类型</span>
                </div>
                <div class="col-md-3"><span>变频占比(%)</span></div>
                <div class="col-md-3"><span>同比增减(%)</span></div>
                <div class="col-md-3"><span>挂机占比(%)</span></div>
                <div class="col-md-3"><span>同比增减(%)</span></div>
              </div>
            </div>
          </div>
          <div class="box-content">
            <div class="row" style="padding: 0;height: 8.3%" ng-repeat="i in vm.list">
              <div class="col-md-1  col-xs-1" style="width: 4%;text-align: left;">
                <span>{{$index + (vm.page - 1)*11 + 1}}</span>
              </div>
              <div class="col-md-1">
                <span> {{i.province}}</span>
              </div>
              <div class="col-md-3 col-xs-3" style="width: 29%">
                <div class="col-md-4 col-xs-4"><span>{{i.salesVolume}}</span></div>
                <div class="col-md-4 col-xs-4"><span>{{i.marketShare | number: 1}}</span></div>
                <div class="col-md-4 col-xs-4"><span>{{i.tbMarketShare | number: 1}}</span></div>
              </div>
              <div class="col-md-2 col-xs-2" style="width: 20%">
                <div class="col-md-6 col-xs-6"><span>{{i.avgprive.toFixed(0)}}</span></div>
                <div class="col-md-6  col-xs-6"><span>{{i.tbAvgPrice | number: 1}}</span></div>
              </div>
              <div class="col-md-4  col-xs-4" style="width: 38%">
                <div class="col-md-3 col-xs-3"><span>{{i.bianpinMarketShare | number: 1}}</span></div>
                <div class="col-md-3  col-xs-3"><span>{{i.tbBianpin | number: 1}}</span></div>
                <div class="col-md-3  col-xs-3"><span>{{i.guajiMarketShare | number: 1}}</span></div>
                <div class="col-md-3  col-xs-3"><span>{{i.tbGuaji | number: 1}}</span></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 col-xs-2 col-xs-offset-10 col-md-offset-10 box-page">
                <div class="btn btn-sm btn-primary" ng-class="{'btn-active':vm.page === 1}" ng-click="vm.setPage(1)">1
                </div>
                <div class="btn btn-sm btn-primary" ng-class="{'btn-active':vm.page === 2}" ng-click="vm.setPage(2)">2
                </div>
                <div class="btn btn-sm btn-primary" ng-class="{'btn-active':vm.page === 3}" ng-click="vm.setPage(3)">3
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="move-box box-2" style="">
          <div class="row">
            <div class="row -box-title">
              <ul>
                <li ng-repeat="i in vm.sortName"><p>{{i}}</p></li>
              </ul>
            </div>
          </div>
          <div class="row" style="height: 90%">
            <div class="row market-share">
              <div class="show-content">
                <div class="font-title">
                  <div class="title-left">
                    <p>市<br>占</p>
                  </div>
                  <div class="title-right">
                    <p><span style="padding-top: 30%;text-align: right">市占率</span></p>
                    <p><span style="padding-bottom: 30%;text-align: right">同比</span></p>
                  </div>
                </div>
                <div class="font-right">
                  <div class="content-right">
                    <ul>
                      <li ng-repeat=" i in vm.lists"><p>{{i.marketShare*100 | number: 1}}</p></li>
                    </ul>
                  </div>
                  <div class="content-right">
                    <ul>
                      <li ng-repeat="i in vm.lists">
                        <div>
                          <img ng-src="images/icon/02_03.png" ng-if="i.marketShareMom < 0"/>
                          <img ng-src="images/icon/02_06.png" ng-if="i.marketShareMom > 0"/>
                          <img ng-src="images/icon/02_08.png" ng-if="i.marketShareMom == 0"/>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="row price">
              <div class="show-content">
                <div class="font-title">
                  <div class="title-left">
                    <p>价<br>格</p>
                  </div>
                  <div class="title-right">
                    <p><span style="padding-top: 30%;text-align: right">均价</span></p>
                    <p><span style="padding-bottom: 30%;text-align: right">同比</span></p>
                  </div>
                </div>
                <div class="font-right">
                  <div class="content-right">
                    <ul>
                      <li ng-repeat=" i in vm.lists"><p>{{i.avgPrice}}</p></li>
                    </ul>
                  </div>
                  <div class="content-right">
                    <ul>
                      <li ng-repeat="i in vm.lists">
                        <div>
                          <img ng-src="images/icon/02_03.png" ng-if="i.priceMom < 0"/>
                          <img ng-src="images/icon/02_06.png" ng-if="i.priceMom > 0"/>
                          <img ng-src="images/icon/02_08.png" ng-if="i.priceMom == 0"/>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="row structure">
              <div class="show-content">
                <div class="font-title">
                  <div class="title-left">
                    <p>结<br>构</p>
                  </div>
                  <div class="title-right">
                    <p><span style="padding-top: 10%;text-align: right">线上贡献率</span></p>
                    <p><span style="text-align: right">变频贡献率</span></p>
                    <p><span style="padding-bottom: 10%;text-align: right">柜机贡献率</span></p>
                  </div>
                </div>
                <div class="font-right">
                  <div class="content-right">
                    <ul>
                      <li ng-repeat="i in vm.lists">
                        <div>
                          <img ng-src="images/icon/02_03.png" ng-if="i.contribute < 0"/>
                          <img ng-src="images/icon/02_06.png" ng-if="i.contribute > 0"/>
                          <img ng-src="images/icon/02_08.png" ng-if="i.contribute == 0"/>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="content-right content-right-middle">
                    <ul>
                      <li ng-repeat="i in vm.lists">
                        <div>
                          <img ng-src="images/icon/02_03.png" ng-if="i.contributebianpin < 0"/>
                          <img ng-src="images/icon/02_06.png" ng-if="i.contributebianpin > 0"/>
                          <img ng-src="images/icon/02_08.png" ng-if="i.contributebianpin == 0"/>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="content-right">
                    <ul>
                      <li ng-repeat="i in vm.lists">
                        <div>
                          <img ng-src="images/icon/02_03.png" ng-if="i.contributeguiji < 0"/>
                          <img ng-src="images/icon/02_06.png" ng-if="i.contributeguiji > 0"/>
                          <img ng-src="images/icon/02_08.png" ng-if="i.contributeguiji == 0"/>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="row reputation">
              <div class="show-content">
                <div class="font-title">
                  <div class="title-left">
                    <p>口<br>碑</p>
                  </div>
                  <div class="title-right">
                    <p><span style="padding-top: 16%;text-align: right">差评率</span></p>
                  </div>
                </div>
                <div class="font-right">
                  <div class="content-right">
                    <ul>
                      <li ng-repeat="i in vm.lists">
                        <div>
                          <img ng-src="images/icon/02_03.png" ng-if="i.badRateMom > 0"/>
                          <img ng-src="images/icon/02_06.png" ng-if="i.badRateMom < 0"/>
                          <img ng-src="images/icon/02_08.png" ng-if="i.badRateMom == 0"/>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="move-box box-3" style="">
          <div class="row" style="height: 100%">
            <div class="col-md-6 col-xs-6 market-share-percent">
              <div class="market-share-percent-content" id="whole-percent">

              </div>
            </div>
            <div class="col-md-6 col-xs-6 market-share-percent">
              <div class="market-share-percent-content" id="whole-change">

              </div>
            </div>
            <div class="col-md-6  col-xs-6 market-share-percent">
              <div class="market-share-percent-content" id="online-percent">

              </div>
            </div>
            <div class="col-md-6 col-xs-6 market-share-percent">
              <div class="market-share-percent-content" id="online-change">

              </div>
            </div>
          </div>
        </div>
        <div class="move-box box-4">
          <div class="row" style="height: 100%">
            <div class="col-md-12 col-xs-12 fight">
              <div id="fight-content-copy">
              </div>
            </div>
          </div>
        </div>
        <div class="move-box box-1">
          <div class="box-title">
            <div class="row" style="height: 100%">
              <div class="col-md-1 list-title" style="width: 4%;text-align: left;display: table">
                <span style="display: table-cell;vertical-align: middle">序号</span>
              </div>
              <div class="col-md-1 list-title" style="display: table">
                <span class="-middle-box" style="display: table-cell;vertical-align: middle">省份</span>
              </div>
              <div class="col-md-3 list-title" style="width: 29%">
                <div class="col-md-12">
                  <span>销量</span>
                </div>
                <div class="col-md-4"><span>销量</span></div>
                <div class="col-md-4"><span>销量占比(%)</span></div>
                <div class="col-md-4"><span>同比增减(%)</span></div>
              </div>
              <div class="col-md-2 list-title" style="width: 20%">
                <div class="col-md-12">
                  <span>价格</span>
                </div>
                <div class="col-md-6"><span>均价</span></div>
                <div class="col-md-6"><span>同比变化(%)</span></div>
              </div>
              <div class="col-md-4 list-title" style="width: 38%;border-right: none">
                <div class="col-md-12">
                  <span>产品类型</span>
                </div>
                <div class="col-md-3"><span>变频占比(%)</span></div>
                <div class="col-md-3"><span>同比增减(%)</span></div>
                <div class="col-md-3"><span>挂机占比(%)</span></div>
                <div class="col-md-3"><span>同比增减(%)</span></div>
              </div>
            </div>
          </div>
          <div class="box-content">
            <div class="row" style="padding: 0;height: 8.3%" ng-repeat="i in vm.list">
              <div class="col-md-1  col-xs-1" style="width: 4%;text-align: left;">
                <span>{{$index + (vm.page - 1)*11 + 1}}</span>
              </div>
              <div class="col-md-1">
                <span> {{i.province}}</span>
              </div>
              <div class="col-md-3 col-xs-3" style="width: 29%">
                <div class="col-md-4 col-xs-4"><span>{{i.salesVolume}}</span></div>
                <div class="col-md-4 col-xs-4"><span>{{i.marketShare | number: 1}}</span></div>
                <div class="col-md-4 col-xs-4"><span>{{i.tbMarketShare |number: 1}}</span></div>
              </div>
              <div class="col-md-2 col-xs-2" style="width: 20%">
                <div class="col-md-6 col-xs-6"><span>{{i.avgprive.toFixed(0)}}</span></div>
                <div class="col-md-6  col-xs-6"><span>{{i.tbAvgPrice | number: 1}}</span></div>
              </div>
              <div class="col-md-4  col-xs-4" style="width: 38%">
                <div class="col-md-3 col-xs-3"><span>{{i.bianpinMarketShare | number: 1}}</span></div>
                <div class="col-md-3  col-xs-3"><span>{{i.tbBianpin | number: 1}}</span></div>
                <div class="col-md-3  col-xs-3"><span>{{i.guajiMarketShare | number: 1}}</span></div>
                <div class="col-md-3  col-xs-3"><span>{{i.tbGuaji | number: 1}}</span></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 col-xs-2 col-xs-offset-10 col-md-offset-10 box-page">
                <div class="btn btn-sm btn-primary" ng-class="{'btn-active':vm.page === 1}" ng-click="vm.setPage(1)">1
                </div>
                <div class="btn btn-sm btn-primary" ng-class="{'btn-active':vm.page === 2}" ng-click="vm.setPage(2)">2
                </div>
                <div class="btn btn-sm btn-primary" ng-class="{'btn-active':vm.page === 3}" ng-click="vm.setPage(3)">3
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="move-right" id="move-right" ng-click="vm.moveToRight()" ng-if="vm.type === 'media'"></div>
  </div>
</div>
