<div class="base-container">
  <div class="row no-margin soft-filter">
    <ul class="list-unstyled no-margin">
      <li><span>项目类型 ：</span></li>
      <li><span ng-click="vm.choice(1,null)" ng-class="{'filter-active': vm.filter[1] === null}">不限</span></li>
      <li><span ng-click="vm.choice(1,0)" ng-class="{'filter-active': vm.filter[1] === 0}">整体项目</span></li>
      <li><span ng-click="vm.choice(1,1)" ng-class="{'filter-active': vm.filter[1] === 1}">驻场项目</span></li>
      <li><span ng-click="vm.choice(1,2)" ng-class="{'filter-active': vm.filter[1] === 2}">自由职业者项目</span></li>
    </ul>
    <ul class="list-unstyled no-margin">
      <li><span>区域选择 ：</span></li>
      <li><span ng-click="vm.choice(2,null)" ng-class="{'filter-active': vm.filter[2] === null}">全国</span></li>
      <li><span ng-click="vm.choice(2,1)" ng-class="{'filter-active': vm.filter[2] === 1}">北京</span></li>
      <li><span ng-click="vm.choice(2,73)" ng-class="{'filter-active': vm.filter[2] === 73}">上海</span></li>
      <li><span ng-click="vm.choice(2,2)" ng-class="{'filter-active': vm.filter[2] === 2}">天津</span></li>
      <li><span ng-click="vm.choice(2,200)" ng-class="{'filter-active': vm.filter[2] === 200}">深圳</span></li>
      <li ng-if="!(vm.filter[2] === 1 || vm.filter[2] === 73 || vm.filter[2] === 2|| vm.filter[2] === 200)"><span ng-click="vm.choice(2,vm.select.id)" ng-class="{'filter-active': vm.filter[1] === vm.select.id}">{{vm.select.name}}</span></li>
      <li style="color: #3285ff;"><span ng-click="vm.more()">更多 <i class="fa fa-caret-down" aria-hidden="true" ng-if="!vm.tag"></i>
        <i ng-if="vm.tag" class="fa fa-caret-up" aria-hidden="true"></i></span></li>
    </ul>
    <ul class="list-unstyled no-margin" ng-if="vm.tag">
      <li class="width-inherit margin-seven show-city"
          ng-mouseleave="over = false"
          ng-repeat="i in vm.citys"
          ng-mouseover="over = true">
        <span><span style="padding: 0;color: #3285ff;">{{i.flag}}</span> {{i.name}}</span>
        <ul class="list-unstyled no-margin animated fadeInLeft">
          <li class="width-inherit margin-seven" ng-repeat="list in i.cityList" ng-click="vm.selectCity(list)"><span>{{list.name}}</span></li>
        </ul>
      </li>
    </ul>
    <ul class="list-unstyled no-margin">
      <li><span>入项时间 ：</span></li>
      <li><span ng-click="vm.choice(3,null)" ng-class="{'filter-active': vm.filter[3] === null}">不限</span></li>
      <li><span ng-click="vm.choice(3,7)" ng-class="{'filter-active': vm.filter[3] === 7}">一周内</span></li>
      <li><span ng-click="vm.choice(3,14)" ng-class="{'filter-active': vm.filter[3] === 14}">两周内</span></li>
      <li><span ng-click="vm.choice(3,30)" ng-class="{'filter-active': vm.filter[3] === 30}">一个月内</span></li>
    </ul>
    <ul class="list-unstyled no-margin"  ng-if="vm.filter[1] === 1 || vm.filter[1] === 2">
      <li><span>工作年限 ：</span></li>
      <li><span ng-click="vm.choice(4,null)" ng-class="{'filter-active': vm.filter[4] === null}">不限</span></li>
      <li><span ng-click="vm.choice(4,'应届生')" ng-class="{'filter-active': vm.filter[4] === '应届生'}">应届生</span></li>
      <li><span ng-click="vm.choice(4,'1-3年')" ng-class="{'filter-active': vm.filter[4] === '1-3年'}">1-3年</span></li>
      <li><span ng-click="vm.choice(4,'4-6年')" ng-class="{'filter-active': vm.filter[4] === '4-6年'}">4-6年</span></li>
      <li><span ng-click="vm.choice(4,'7-10年')" ng-class="{'filter-active': vm.filter[4] === '7-10年'}">7-10年</span></li>
      <li><span ng-click="vm.choice(4,'10年以上')" ng-class="{'filter-active': vm.filter[4] === '10年以上'}">10年以上</span></li>
    </ul>
    <ul class="list-unstyled no-margin" ng-if="vm.filter[1] === 1 || vm.filter[1] === 2">
      <li><span>期望薪资 ：</span></li>
      <li><span ng-click="vm.choice(5,null)" ng-class="{'filter-active': vm.filter[5] === null}">不限</span></li>
      <li><span ng-click="vm.choice(5,'500以下')" ng-class="{'filter-active': vm.filter[5] === '500以下'}">500以下</span></li>
      <li><span ng-click="vm.choice(5,'500-1000')" ng-class="{'filter-active': vm.filter[5] === '500-1000'}">500-1000</span></li>
      <li><span ng-click="vm.choice(5,'1000-1500')" ng-class="{'filter-active': vm.filter[5] === '1000-1500'}">1000-1500</span></li>
      <li><span ng-click="vm.choice(5,'1500-2000')" ng-class="{'filter-active': vm.filter[5] === '1500-2000'}">1500-2000</span></li>
      <li><span ng-click="vm.choice(5,'2000-2500')" ng-class="{'filter-active': vm.filter[5] === '2000-2500'}">2000-2500</span></li>
      <li><span ng-click="vm.choice(5,'2500以上')" ng-class="{'filter-active': vm.filter[5] === '2500以上'}">2500以上</span></li>
    </ul>
  </div>
  <div class="row no-margin soft-list" ng-repeat="i in vm.lists">
    <h4 class="normal-title" style="font-size: 15px"><a  ui-sref="app.company.show({id: i.id,requesttype: i.requesttype})">{{i.proname}}</a></h4>
    <p class="overflow-p">{{i.intro}}</p>
    <ul class="list-unstyled no-margin">
      <li class="col-md-3 no-padding-left"><span>{{i.name}}</span></li>
      <li class="col-md-3"><strong>项目预算：</strong><span>{{i.price}}</span></li>
      <li class="col-md-3"><strong>项目开始日期：</strong><span>{{i.starttime}}</span></li>
      <li class="col-md-3"><strong>项目结束日期：</strong><span>{{i.endtime}}</span></li>
    </ul>
  </div>
  <nav style="padding-bottom: 20px" boundary-link-numbers="true">
    <ul class="pagination pull-right">
      <li><a ng-click="vm.first()" ng-disabled="vm.pageList.currentPage === 1" ng-class="{'disabled': vm.pageList.currentPage === 1}">首页</a></li>
      <li ng-repeat="i in vm.pageArr" ng-click="vm.filterPage(i)"><a
        ng-class="{'filter-active': vm.pageList.currentPage == i}">{{i}}</a></li>
      <li><a ng-click="vm.last()" ng-disabled="vm.pageList.currentPage === vm.pageArr.length"  ng-class="{'disabled': vm.pageList.currentPage === vm.pageArr.length}">末页</a></li>
    </ul>
  </nav>
</div>
