<div class="row no-margin" style="margin-bottom: 20px">
  <div class="pull-right btn btn-primary" ui-sref="app.company.list"><i class="fa fa-angle-left" aria-hidden="true"></i> 返回</div>
</div>
<div class="form-container" style="position: relative">
  <form class="form-horizontal">
    <div class="form-group" style="position: relative">
      <div class="col-md-10 col-md-offset-2">
        <p><strong style="font-size: 16px">{{vm.show.proname}}</strong></p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>发包类型</label>
      </div>
      <div class="col-md-8">
        <p class="margin-seven">{{vm.show.requesttype[0].name}}</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>地址</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven">{{vm.show.addrname}}</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>项目简介</label>
      </div>
      <div class="col-md-9">
        <p class="margin-seven">{{vm.show.intro}}</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>项目当前状态</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven">{{vm.show.cstatus[0].name}}</p>
      </div>
    </div>
    <div class="form-group"  ng-if="vm.show.requesttype[0].id != 0">
      <div class="col-md-2 control-label">
        <label>付款方式</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven">{{vm.show.pricetype === 1? '月付' : '季付'}}</p>
      </div>
    </div>
    <div class="form-group"  ng-if="vm.show.requesttype[0].id != 0">
      <div class="col-md-2 control-label">
        <label>工程师年限</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven">{{vm.show.ages[0].name}}</p>
      </div>
    </div>
    <div class="form-group"  ng-if="vm.show.requesttype[0].id != 0">
      <div class="col-md-2 control-label">
        <label>工程师类型</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven">{{vm.show.mantypr}}</p>
      </div>
    </div>
    <div class="form-group"  ng-if="vm.show.requesttype[0].id != 0">
      <div class="col-md-2 control-label">
        <label>工程师人数</label>
      </div>
      <div class="col-md-9">
        <p class="margin-seven">{{vm.show.pernum}}人</p>
      </div>
    </div>
    <div class="form-group"  ng-if="vm.show.requesttype[0].id === 0">
      <div class="col-md-2 control-label">
        <label>项目价格</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven important-font">{{vm.show.price}} 元</p>
      </div>
    </div>
    <div class="form-group"  ng-if="vm.show.requesttype[0].id === 1">
      <div class="col-md-2 control-label">
        <label>项目预算</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven important-font">{{vm.show.price}} /人/月</p>
      </div>
    </div> <div class="form-group"  ng-if="vm.show.requesttype[0].id === 2">
    <div class="col-md-2 control-label">
      <label>项目预算</label>
    </div>
    <div class="col-md-10">
      <p class="margin-seven important-font">{{vm.show.price}} /人/天</p>
    </div>
  </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>项目发布日期</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven">{{vm.show.createtime}}</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>项目开始日期</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven">{{vm.show.starttime}}</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>项目结束日期</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven">{{vm.show.endtime}}</p>
      </div>
    </div>
    <div class="form-group" ng-if="vm.show.requesttype[0].id != 0">
      <div class="col-md-2 control-label">
        <label>任职要求</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven" id="requirements"></p>
      </div>
    </div>
    <div class="form-group" ng-if="vm.show.requesttype[0].id != 0">
      <div class="col-md-2 control-label">
        <label>面试方式</label>
      </div>
      <div class="col-md-9">
        <p class="margin-seven">{{vm.show.mstype === 1?'现场':'电话'}}</p>
      </div>
    </div>
    <div class="form-group" ng-if="vm.show.requesttype[0].id != 0">
      <div class="col-md-2 control-label">
        <label>是否承担差旅费</label>
      </div>
      <div class="col-md-9">
        <p class="margin-seven">{{vm.show.cl === 1? '是': '否'}}</p>
      </div>
    </div>
    <div class="form-group" ng-if="vm.show.requesttype[0].id != 0">
      <div class="col-md-2 control-label">
        <label>是否承担住宿费</label>
      </div>
      <div class="col-md-9">
        <p class="margin-seven">{{vm.show.sf === 1? '是': '否'}}</p>
      </div>
    </div>
    <div class="form-group" ng-if="vm.show.iscment === '2'">
      <div class="col-md-2 control-label">
        <label>邮箱</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven important-font">{{vm.show.username}}</p>
      </div>
    </div>
    <div class="form-group" ng-if="vm.show.iscment === '2'">
      <div class="col-md-2 control-label">
        <label>手机号</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven important-font">{{vm.show.telnum}}</p>
      </div>
    </div>
    <div class="form-group" style="border-bottom: none">
      <div class="col-md-10 col-md-offset-2">
        <div  class="btn btn-warning" ng-if="vm.user.basetype != 1 && vm.show.iscment != '2'" ng-click="vm.freeShowContact()">免费让您的专属经纪人撮合沟通</div>
        <div class="btn btn-primary" ng-if="vm.show.iscment != '2'" ng-click="vm.undertake()">付费承接此项目</div>
        <div  ng-if="vm.show.iscment === '2'" class="btn btn-default" ng-click="vm.sendLetter()">发私信</div>
      </div>
    </div>
  </form>
</div>
