<div class="row no-margin" style="margin-bottom: 20px">
  <div class="pull-right btn btn-primary" ui-sref="app.company.list"><i class="fa fa-angle-left" aria-hidden="true"></i> 返回</div>
</div>
<div class="form-container" style="position: relative">
  <form class="form-horizontal">
    <div class="form-group" style="position: relative">
      <div class="col-md-10 col-md-offset-2">
        <p><strong style="font-size: 16px">FLTK和CodeSys用户界面实现开发外包</strong></p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>发包形式</label>
      </div>
      <div class="col-md-8">
        <p class="margin-seven">整体项目</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>地址</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven">北京市朝阳区</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>付款方式</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven">线下</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>工程师年限</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven">三年</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>工程师类型</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven">JAVA工程师</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>预算</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven">2000元/人/天</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>入项时间</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven">2016-12-12</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>出项时间</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven">2016-12-12</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>任职要求</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven">任职要求任职要求任职要求任职要求任职要求任职要求任职要求</p>
      </div>
    </div>
    <div class="form-group" style="border-bottom: none">
      <div class="col-md-10 col-md-offset-2">
        <div class="btn btn-primary" ng-click="vm.next()">我想承接此项目</div>
        <div class="btn btn-default" ng-click="vm.next()">发私信</div>
      </div>
    </div>
  </form>
</div>
