<div class="base-container">
  <div class="row no-margin soft-filter">
    <ul class="list-unstyled no-margin">
      <li><span>区域选择 ：</span></li>
      <li><span ng-click="vm.choice(1,null)" ng-class="{'filter-active': vm.filter[1] === null}">全国</span></li>
      <li><span ng-click="vm.choice(1,1)" ng-class="{'filter-active': vm.filter[1] === 1}">北京</span></li>
      <li><span ng-click="vm.choice(1,73)" ng-class="{'filter-active': vm.filter[1] === 73}">上海</span></li>
      <li><span ng-click="vm.choice(1,2)" ng-class="{'filter-active': vm.filter[1] === 2}">天津</span></li>
      <li><span ng-click="vm.choice(1,200)" ng-class="{'filter-active': vm.filter[1] === 200}">深圳</span></li>
      <li ng-if="!(vm.filter[1] === 1 || vm.filter[1] === 73 || vm.filter[1] === 2|| vm.filter[1] === 200) && !vm.filter[1].flag">
        <span ng-click="vm.choice(1,vm.select.id)" ng-class="{'filter-active': vm.filter[1] === vm.select.id}">{{vm.select.name}}</span>
      </li>
      <li ng-if="(vm.filter[1].flag)">
        <span class="filter-active">{{vm.filter[1].name}}</span>
      </li>
      <li style="color: #3285ff;"><span ng-click="vm.more()">更多 <i class="fa fa-caret-down" aria-hidden="true" ng-if="!vm.tag"></i>
        <i ng-if="vm.tag" class="fa fa-caret-up" aria-hidden="true"></i></span></li>
    </ul>
    <ul class="list-unstyled no-margin" ng-if="vm.tag">
      <li class="width-inherit margin-seven show-city"
          ng-mouseleave="over = false"
          ng-repeat="i in vm.citys"
          ng-mouseover="over = true">
        <span><span style="padding: 0;color: #3285ff;">{{i.flag}}</span> {{i.name}}</span>
        <ul class="list-unstyled no-margin animated fadeInLeft">
          <li ng-click="vm.selectProvince(i)"  ng-if="i.cityList.length != 1">全部</li>
          <li class="width-inherit margin-seven" ng-repeat="list in i.cityList" ng-click="vm.selectCity(list)"><span>{{list.name}}</span></li>
        </ul>
      </li>
    </ul>
    <ul class="list-unstyled no-margin">
      <li><span>工作经验 ：</span></li>
      <li><span ng-click="vm.choice(2,null)" ng-class="{'filter-active': vm.filter[2] === null}">不限</span></li>
      <li><span ng-click="vm.choice(2,5)" ng-class="{'filter-active': vm.filter[2] === 5}">应届生</span></li>
      <li><span ng-click="vm.choice(2,1)" ng-class="{'filter-active': vm.filter[2] === 1}">1-3年</span></li>
      <li><span ng-click="vm.choice(2,2)" ng-class="{'filter-active': vm.filter[2] === 2}">4-6年</span></li>
      <li><span ng-click="vm.choice(2,3)" ng-class="{'filter-active': vm.filter[2] === 3}">7-10年</span></li>
      <li><span ng-click="vm.choice(2,4)" ng-class="{'filter-active': vm.filter[2] === 4}">10年以上</span></li>
    </ul>
    <ul class="list-unstyled no-margin">
      <li><span>每日薪酬 ：</span></li>
      <li><span ng-click="vm.choice(3,null)" ng-class="{'filter-active': vm.filter[3] === null}">不限</span></li>
      <li><span ng-click="vm.choice(3,1)" ng-class="{'filter-active': vm.filter[3] === 1}">500以下</span></li>
      <li><span ng-click="vm.choice(3,2)"
                ng-class="{'filter-active': vm.filter[3] === 2}">500-1000</span></li>
      <li><span ng-click="vm.choice(3,3)"
                ng-class="{'filter-active': vm.filter[3] === 3}">1000-1500</span></li>
      <li><span ng-click="vm.choice(3,4)"
                ng-class="{'filter-active': vm.filter[3] === 4}">1500-2000</span></li>
      <li><span ng-click="vm.choice(3,5)"
                ng-class="{'filter-active': vm.filter[3] === 5}">2000-2500</span></li>
      <li><span ng-click="vm.choice(3,6)" ng-class="{'filter-active': vm.filter[3] === 6}">2500以上</span>
      </li>
    </ul>
    <!-- <ul class="list-unstyled no-margin"
         style="border-bottom: 1px solid #eee;border-top: 1px solid #eee;padding: 15px 0;margin-top: 15px;width: 100%">
       <li><span>排列方式 ：</span></li>
       <li><span ng-click="vm.choice(4,'推荐')" ng-class="{'filter-active': vm.filter[4] === '推荐'}">推荐</span></li>
       <li><span ng-click="vm.choice(4,'最新')" ng-class="{'filter-active': vm.filter[4] === '最新'}">最新</span></li>
       <li><span ng-click="vm.choice(4,'薪酬')" ng-class="{'filter-active': vm.filter[4] === '薪酬'}">薪酬</span></li>
       <li><span ng-click="vm.choice(4,'经验')" ng-class="{'filter-active': vm.filter[4] === '经验'}">经验</span></li>
     </ul>-->

    <!--<p><span>项目类型 ：</span><span>不限</span><span>整体项目</span><span>驻场项目</span><span>自由职业者项目</span></p>
    <p><span>工作地点 ：</span><span>全国</span><span>北京</span><span>上海</span><span>天津</span><span>深圳</span><span>成都</span></p>
    <p><span>项目周期 ：</span><input type="date"/><span>至</span><input type="date"/></p>
    <p><span>工作经验 ：</span><span>不限</span><span>应届生</span><span>1-3年</span><span>4-6年</span><span>7-10年</span><span>10年以上</span></p>
    <p><span>驻场价格 ：</span><span>不限</span><span>500以下</span><span>500-1000</span><span>1000-1500</span><span>1500-2000</span><span>2000-2500</span><span>2500以上</span></p>-->
  </div>
  <!--  <div class="row no-margin soft-list">
      <h4 class="normal-title" style="font-size: 15px">张三【上海】</h4>
      <ul class="list-unstyled no-margin">
        <li><strong>最低希望收入：</strong><span>500</span></li>
        <li><strong>工作经验：</strong><span>3年</span></li>
        <li><strong>期望职位：</strong><span>JAVA工程师</span></li>
        <li><strong>发布时间：</strong><span>2016-12-12</span></li>
      </ul>
    </div>-->
  <!--加载动画-->
  <div class="spinner" ng-if="!vm.lists">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>
  <div class="row" ng-if="vm.lists && !vm.lists.length">
    <div class="static-box">
      <p>没有符合条件的结果，请更换检索条件重新检索!</p>
    </div>
  </div>
  <div class="row no-margin soft-list" ng-repeat="i in vm.lists" ng-if="vm.lists.length">
    <h4 class="normal-title" style="font-size: 15px"><a  ui-sref="app.freelance.show({id:i.id})">{{i.pname}}【{{i.addrname}}】</a></h4>
    <div class="row">
      <div class="col-md-3">
        <strong>期望薪资：</strong><span>{{i.money}} /天</span>
      </div>
      <div class="col-md-3">
        <strong>工作经验：</strong><span>{{i.jobage[0].name}}</span>
      </div>
      <div class="col-md-3">
        <strong>期望职位：</strong><span>{{i.expectjob}}</span>
      </div>
      <div class="col-md-3">
        <strong>注册时间：</strong><span>{{i.regtime}}</span>
      </div>
    </div>
  </div>
  <nav style="padding-bottom: 20px" boundary-link-numbers="true" ng-if="vm.lists.length">
    <ul class="pagination pull-right">
      <li><a ng-click="vm.first()" ng-disabled="vm.pageList.currentPage === 1" ng-class="{'disabled': vm.pageList.currentPage === 1}">首页</a></li>
      <li ng-repeat="i in vm.pageArr track by $index" ng-click="vm.filterPage(i)"><a
        ng-class="{'filter-active': vm.pageList.currentPage == i}">{{i}}</a></li>
      <li><a ng-click="vm.last()" ng-disabled="vm.pageList.currentPage === vm.pageArr.length"  ng-class="{'disabled': vm.pageList.currentPage === vm.pageArr.length}">末页</a></li>
    </ul>
  </nav>
</div>
