<div class="row no-margin" style="margin-bottom: 20px">
  <div class="pull-right btn btn-primary" ui-sref="app.freelance.list"><i class="fa fa-angle-left" aria-hidden="true"></i> 返回</div>
</div>
<div class="form-container" style="position: relative">
  <div class="show-photo">
    <div class="img-box">

    </div>
  </div>
  <form class="form-horizontal">
    <div class="form-group" style="position: relative">
      <div class="col-md-2 control-label">
        <label>姓名</label>
      </div>
      <div class="col-md-8">
        <p class="margin-seven">{{vm.show.pname}}</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>工作职位</label>
      </div>
      <div class="col-md-8">
        <p class="margin-seven">{{vm.show.job}}</p>
      </div>
    </div>
 <!--   <div class="form-group">
      <div class="col-md-2 control-label">
        <label>概述</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven">张三张三张三张三张三张三张三张三张三张三张三张三张三张三张三张三张三张三张三张三张三张三张三张三张三张三张三张三张三张三张三张三张三张三张三张三张三张三张三张三张三张三张三</p>
      </div>
    </div>-->
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>行业经验</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven">{{vm.show.experience}}</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>技术技能</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven">{{vm.show.skills}}</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>工作年限</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven">{{vm.show.jobage}}</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>雇佣历史</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven">{{vm.show.history}}</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>项目履历</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven">{{vm.show.proexperience}}</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>教育背景</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven">{{vm.show.educational}}</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>英语能力</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven">{{vm.show.engrade}}</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>其他能力</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven">{{vm.show.other}}</p>
      </div>
    </div>

    <div class="form-group" style="border-bottom: none">
      <div class="col-md-10 col-md-offset-2">
        <div class="btn btn-primary" ng-click="vm.next()">查看联系方式</div>
      </div>
    </div>
  </form>
</div>
