<div class="row no-margin bg-about">
  <div class="bg-box">

  </div>
</div>
<div class="row no-margin -align-center">
  <h2>公司简介</h2>
</div>
<div class="row no-margin">
  <div class="base-container" style="font-size: 15px">
    <p>盈思创通为业内知名的IT软件外包服务商及解决方案提供商，通过技术与服务的结合，技术与行业的结合，
      为客户提供外包和行业解决方案以及相关产品、平台的开发与服务。</p>
    <p>伴随着业务的迅速发展，打造了以“知识，创造，服务，共赢”为核心价值观，以“为客户提供高效、精准的最优秀服务”为使命的运营平台。</p>
    <p>盈思创通以助力中国产业信息化为责任，帮助企业快速找到优秀的承包商和顾问，构筑其所需要的信息系统。同时，
      也让优秀的IT软件服务商和顾问贡献行业经验，施展才能才智，在促进中国的信息化过程中实现价值，成就梦想。</p>
  </div>
</div>
