<div class="row no-margin bg-help">
  <div class="col-md-12 no-padding bg-box">
  </div>
</div>
<div class="row no-margin help-question">
  <div class="base-container">
    <p>1.什么是发包方？</p>
    <p>发包方是发布项目的企业。</p>
  </div>
</div>
<div class="row no-margin help-question odd-help">
  <div class="base-container">
    <p>2.什么是承包方？</p>
    <p>承包方是承接项目的企业或自由职业顾问。</p>
  </div>
</div>
<div class="row no-margin help-question">
  <div class="base-container">
    <p>3.什么是自由职业顾问?</p>
    <p>自由职业顾问为具有丰富项目经验的IT高级工程师及技术专家、架构师，
      以自由职业（freelancer）为工作形式，驻场开发或承接项目，为大公司提供咨询服务或解决系统问题。
      例如，SAP技术顾问为其中的典型代表。</p>
  </div>
</div>
<div class="row no-margin help-question odd-help">
  <div class="base-container">
    <p>4.什么是经纪人？</p>
    <p>经纪人为平台的工作人员。</p>
     <p style="text-indent:25px"> 1）为发包方推荐合适的承包方或顾问。</p>
      <p style="text-indent:25px">2）为承包方或顾问推荐合适的项目需求。</p>
  </div>
</div>
<div class="row no-margin help-question ">
  <div class="base-container">
    <p>5.平台能做什么？</p>
    <p>平台为架起发包方与承包方商谈沟通的桥梁。</p>
    <p style="text-indent:25px">1）能够让发包方快速找到可以完成其需求的公司或顾问，快速构筑其所需要的信息系统。</p>
    <p style="text-indent:25px">2）让承包方或顾问可以找到大量其擅长的系统需求，不再因需求信息不畅而限制发展。</p>
  </div>
</div>
<div class="row no-margin help-question odd-help">
  <div class="base-container">
    <p>6.平台是免费的么？</p>
    <p>是的。平台是由经纪人体制为核心建立起来的交易中心。提供免费撮合服务。</p>
  </div>
</div>
<div class="row no-margin help-question ">
  <div class="base-container">
    <p>7.在平台上看到项目需求，为什么有付费按钮？</p>
    <p>在必要时，承包方可以不需要经纪人服务，可以直接与发包方进行沟通。
      在这种情况下，为避免不匹配的承包方随意与发包方沟通，打扰发包方的工作，
      平台规定，承包方查看发包方的联系方式时，需要支付少量金额。</p>
  </div>
</div>
<div class="row no-margin help-question odd-help" style="margin-bottom: 100px">
  <div class="base-container">
    <p>8.在平台上看到承包方或顾问资料，为什么有付费按钮？</p>
    <p>在必要时，发包方可以不需要经纪人服务，可以直接与承包方或顾问进行沟通。
      在这种情况下，为避免发包方随意与承包方或顾问沟通，打扰承包方或顾问的工作，
      平台规定，发包方查看承包方或顾问的联系方式时，需要支付少量金额。</p>
  </div>
</div>

