<div class="top-bar">
  <div class="top-logo bg-img"></div>
  <div class="top-menu">
    <ul class="unstyled top-content">
      <li class="overview bg-img" ng-class="{'overview-active' : $state.includes('app.overview')}"><a
        ui-sref="app.overview.list"></a></li>
      <li class="market-share bg-img" ng-class="{'market-share-active' : $state.includes('app.market')}"><a
        ui-sref="app.market.list"></a></li>
      <li class="average bg-img" ng-class="{'average-active' : $state.includes('app.average')}"><a
        ui-sref="app.average.list"></a></li>
      <li class="structure bg-img" ng-class="{'structure-active' : $state.includes('app.structure')}"><a
        ui-sref="app.structure.list"></a></li>
      <li class="reputation bg-img" ng-class="{'reputation-active' : $state.includes('app.reputation')}"><a
        ui-sref="app.reputation.list"></a></li>
    </ul>
  </div>
  <div class="time-menu">
    <div class="time-img" style="float: left;margin-left: 30%">
      <img ng-src="images/icon_time.png"/>
    </div>
    <div class="time-content" style="float: left">
      <span>2016{{app.filter.month.name}}{{app.filter.week.name}} {{app.start_at}}<span ng-if="app.start_at"
                                                                                        style="padding: 0">-</span>{{app.end_at}}</span>
      <select name="" id="week" ng-model="app.filter.week" ng-options="w as w.name for w in app.weeks"
              ng-if="app.active1">
      </select>
      <select name="" id="month" ng-model="app.filter.month" ng-options="m as m.name for m in app.months"
              ng-if="app.active2">
      </select>
    </div>
    <div class="logout">
      <img ng-click="app.logout()" class="point-image" style="height: 100%" ng-src="images/logout.png"/>
    </div>
  </div>
</div>
