<div class="menu-container">
  <div class="menu-box">
    <div class="row">
      <div class="col-md-2 col-xs-2 logo">
        <span>软盈SoftTrade</span>
      </div>
      <div class="col-md-8 col-xs-8 company-menu">
        <ul class="list-unstyled no-margin">
          <li ng-class="{'menu-active' : $state.includes('app.manage')}" ng-if="app.user.type === 0 && app.user.basetype === 0"><a ui-sref="app.manage.company.more" ui-sref-active="menu-active">发布中心</a></li>
          <li ng-class="{'menu-active' : $state.includes('app.manage')}"  ng-if="(app.user.type === 0 && app.user.basetype === 1) || app.user.type === 1"><a ui-sref="app.manage.contractors.list" ui-sref-active="menu-active">承包中心</a></li>
          <li ng-class="{'menu-active' : $state.includes('app.company')}" ng-if="app.user.basetype === 1 || app.user.type === 1"><a ui-sref="app.company.list" ui-sref-active="menu-active">平台项目资源</a></li>
          <li ng-class="{'menu-active' : $state.includes('app.contractors')}" ng-if="app.user.basetype === 0 && app.user.type === 0"><a ui-sref="app.contractors.list" ui-sref-active="menu-active">承包方资源</a></li>
          <li ng-class="{'menu-active' : $state.includes('app.freelance')}"  ng-if="app.user.basetype === 0  && app.user.type === 0"><a ui-sref="app.freelance.list" ui-sref-active="menu-active">自由职业顾问资源</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-xs-2 register-name" style="position: relative;padding: 0">
        <ul class="list-unstyled no-margin">
          <li class="personal-center"><span>{{app.user.username}} <i class="fa fa-caret-down" aria-hidden="true"></i><i class="fa fa-caret-up" aria-hidden="true"></i></span>
          <ul class="list-unstyled no-margin animated swing">
            <li ui-sref="app.personal.letter.list({status: 'accept'})"><a>私信</a> <span class="label label-danger">{{app.account}}</span></li>
            <li ui-sref="app.personal.connectedSource" ng-if="app.user.type === 0 && app.user.basetype === 0"><a>已联系的资源方</a></li>
            <li ui-sref="app.personal.connectedProject" ng-if="app.user.type === 1"><a>已请求撮合项目</a></li>
            <li ui-sref="app.personal.setting.list"><a>个人中心</a></li>
            <li ng-click="app.logout()"><a>退出</a></li>
          </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
