<div class="row no-margin" style="margin-bottom: 20px">
  <div class="pull-right btn btn-primary" ng-click="vm.goBack()"><i class="fa fa-angle-left"
                                                                          aria-hidden="true"></i> 返回
  </div>
</div>
<div class="form-container" style="position: relative">
  <div class="show-photo">
    <div class="img-box">
      <img ng-src="{{vm.show.imageurl}}" style="width: 100%;height: 100%"/>
    </div>
  </div>
  <form class="form-horizontal">
    <div class="form-group" style="position: relative">
      <div class="col-md-2 control-label">
        <label>姓名</label>
      </div>
      <div class="col-md-8">
        <p class="margin-seven">{{vm.show.pname}}</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>现居住地</label>
      </div>
      <div class="col-md-8">
        <p class="margin-seven">{{vm.show.addrname}}</p>
      </div>
    </div>
   <!-- <div class="form-group">
      <div class="col-md-2 control-label">
        <label>工作职位</label>
      </div>
      <div class="col-md-8">
        <p class="margin-seven">{{vm.show.job}}</p>
      </div>
    </div>-->
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>行业经验</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven">{{vm.show.experience}}</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>技术技能</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven">{{vm.show.skillname | limitTo: vm.show.skillname.length -1}}</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>工作年限</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven">{{vm.show.jobage[0].name}}</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>雇佣历史</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven" id="history"></p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>项目履历</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven" id="proexperience"></p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>教育背景</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven" id="educational"></p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>英语能力</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven">{{vm.show.engrade == 0? '一般': '良好'}}</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>其他能力</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven">{{vm.show.other}}</p>
      </div>
    </div>
    <div class="form-group important-font" ng-if="vm.show.iscment == '2'">
      <div class="col-md-2 control-label">
        <label>手机号</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven">{{vm.show.username}}</p>
      </div>
    </div>
    <div class="form-group important-font" ng-if="vm.show.iscment == '2'">
      <div class="col-md-2 control-label">
        <label>邮箱</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven">{{vm.show.emailaddr}}</p>
      </div>
    </div>
  </form>
</div>
