<div class="base-container" style="margin-top: 30px">
  <div class="row letter-list-title">
    <div class="col-md-2">
      <p ng-if="vm.status === 'accept'">发件方</p>
      <p ng-if="vm.status === 'send'">收件方</p>
    </div>
    <div class="col-md-6"><p>主题</p></div>
    <div class="col-md-2">
      <p  ng-if="vm.status === 'send'">发送时间</p>
      <p  ng-if="vm.status === 'accept'">接收时间</p>
    </div>
    <div class="col-md-2">
      <p>操作</p>
    </div>
  </div>
  <div class="row letter-list">
    <div class="col-md-2">
      <p>发件方姓名</p>
    </div>
    <div class="col-md-6"><p>主题主题主题主题主题主题主题主题主题主题主题主题主题主题主题主题主题主题</p></div>
    <div class="col-md-2">
     <p>2015-12-02 12:32:23</p>
    </div>
    <div class="col-md-2">
      <div class="btn btn-sm btn-danger" confirm="确认删除？">删除</div>
    </div>
  </div>
</div>
