<div class="row no-margin" style="margin-bottom: 20px">
  <div class="pull-right btn btn-primary" ng-click="vm.goBack()"><i class="fa fa-angle-left"
                                                                            aria-hidden="true"></i> 返回
  </div>
</div>
<div class="form-container" style="position: relative">
  <form class="form-horizontal">
    <div class="form-group" style="position: relative">
      <div class="col-md-2 control-label">
        <label>企业名称</label>
      </div>
      <div class="col-md-8">
        <p class="margin-seven">{{vm.show.name}}</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>工作地址</label>
      </div>
      <div class="col-md-8">
        <p class="margin-seven">{{vm.show.unitaddr}}</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>公司简介</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven">{{vm.show.proscope}}</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>单位类型</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven">{{vm.show.flattype}}</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>行业经验</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven">{{vm.show.experience}}</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label">
        <label>企业认证</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven" ng-repeat="i in vm.show.zname track by $index" ng-if="$index % 2 === 0">{{i}}</p>
      </div>
    </div>
    <div class="form-group important-font" ng-if="vm.show.iscment == '2'">
      <div class="col-md-2 control-label">
        <label>手机号</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven">{{vm.show.telnum}}</p>
      </div>
    </div>
    <div class="form-group important-font" ng-if="vm.show.iscment == '2'">
      <div class="col-md-2 control-label">
        <label>邮箱</label>
      </div>
      <div class="col-md-10">
        <p class="margin-seven">{{vm.show.username}}</p>
      </div>
    </div>
  </form>
</div>
