<div class="base-container">
  <h3>个人中心</h3>
  <uib-accordion close-others="oneAtATime">
    <div uib-accordion-group class="panel-default" is-open="status.open">
      <uib-accordion-heading>
        基本信息 <i class="glyphicon"
                ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </uib-accordion-heading>
      <div class="row" style="position: relative;margin-top: 20px">
        <div class="form-container" ng-if="vm.user.type === 0" style="margin-top: 70px">
          <form class="form-horizontal" name="base" ng-submit="vm.saveBase()">
            <!--<div class="form-group" style="position: relative;margin-top: -78px;border-bottom: none">-->
            <!--<div class="col-md-5 col-md-offset-2">-->
            <!--<label><input type="radio" name="baseType" ng-model="vm.settingObj.basetype" ng-value="0"-->
            <!--disabled/><span class="normal-weight"> 我要发布项目，想找承包方</span></label>-->
            <!--</div>-->
            <!--<div class="col-md-5">-->
            <!--<label><input type="radio" name="baseType" ng-model="vm.settingObj.basetype" ng-value="1"-->
            <!--disabled/><span class="normal-weight"> 我要承接项目，想找发包方</span></label>-->
            <!--</div>-->
            <!--</div>-->
            <div class="form-group" ng-class="{'has-success': base.flattype.$valid}">
              <div class="col-md-2 control-label">
                <label>单位类型</label>
              </div>
              <div class="col-md-10" style="padding-top: 4px">
                <div class="col-md-2" ng-repeat="i in vm.flattypeArr" ng-class="{'no-padding-left': $index === 0}">
                  <label><input type="radio" name="flattype" ng-value="i.id" ng-model="vm.settingObj.flattype"
                                required/><span class="normal-weight"> {{i.name}}</span></label>
                </div>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-success': base.idType.$valid}">
              <div class="col-md-2 control-label">
                <label>营业执照类型</label>
              </div>
              <div class="col-md-5 margin-seven">
                <label><input type="radio" name="idType" ng-model="vm.settingObj.idtype" ng-value="0" required/><span
                  class="normal-weight"> 普通营业执照( 存在独立的组织机构代码证)</span></label>
              </div>
              <div class="col-md-5 margin-seven">
                <label><input type="radio" name="idType" ng-model="vm.settingObj.idtype" ng-value="1" required/><span
                  class="normal-weight"> 多证合一营业执照( 不存在独立的组织机构代码证)</span></label>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-success': vm.settingObj.idimage}">
              <div class="col-md-2 control-label">
                <label>上传营业执照</label>
              </div>
              <div class="col-md-5">
                <single-uploader url="vm.settingObj.idimage"></single-uploader>
              </div>
              <div class="col-md-5">
                <div style="height: 100px;width: 80px;">
                  <img alt="图片加载失败" ng-src="{{vm.settingObj.idimage}}" style="width: 100%;height: 100%"/>
                </div>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-success': base.name.$valid}">
              <div class="col-md-2 control-label">
                <label>单位名称</label>
              </div>
              <div class="col-md-10">
                <input type="text"
                       ng-class="{'error-input': (base.name.$error.required && base.name.$touched)}"
                       name="name"
                       class="form-control"
                       ng-model="vm.settingObj.name"
                       placeholder="请输入单位名称"
                       required/>
                <div class="help-block error-font" ng-if="base.name.$error.required && base.name.$touched">单位名称不能为空
                </div>
                <span ng-if="base.name.$valid" class="input-result"><i class="fa fa-check"></i></span>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-success':base.proscope.$valid}">
              <div class="col-md-2 control-label">
                <label>单位简介</label>
              </div>
              <div class="col-md-10">
        <textarea name="proscope"
                  ng-class="{'error-input': ((base.proscope.$error.required || base.proscope.$error.minlength) && base.proscope.$touched)}"
                  ng-minlength="10" class="form-control" ng-model="vm.settingObj.proscope"
                  placeholder="请输入单位简介，不得少于10个字符" required=""></textarea>
                <div class="help-block error-font" ng-if="base.proscope.$error.required && base.proscope.$touched">
                  单位简介不能为空
                </div>
                <div class="help-block error-font" ng-if="base.proscope.$error.minlength && base.proscope.$touched">
                  单位简介不得少于10个字
                </div>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-success':base.password.$valid}">
              <div class="col-md-2 control-label">
                <label for="">密码</label>
              </div>
              <div class="col-md-10">
                <input type="password"
                       name="password"
                       ng-model="vm.settingObj.password"
                       class="form-control"
                       ng-pattern="/^(?!([a-zA-Z]+|\d+)$)[a-zA-Z\d]{8}$/"
                       placeholder="密码必须为字母+数字,长度为8位"
                       ng-maxlength="8"
                       ng-minlength="8"
                       required/>
                <div class="help-block error-font"
                     ng-if="(base.password.$error.minlength || base.password.$error.maxlength) && base.password.$touched">
                  密码长度必须为8位
                </div>
                <div class="help-block error-font" ng-if="(base.password.$error.required) && base.password.$touched">
                  密码不能为空
                </div>
                <div class="help-block error-font" ng-if="(base.password.$error.pattern) && base.password.$touched">
                  密码必须为字母数字组合
                </div>
                <span class="input-result" ng-if="base.password.$valid"><i class="fa fa-check"></i></span>
              </div>
            </div>
            <div class="form-group"
                 ng-class="{'has-success': base.reqpassword.$valid && vm.settingObj.reqpassword === vm.settingObj.password }">
              <div class="col-md-2 control-label">
                <label for="">确认密码</label>
              </div>
              <div class="col-md-10">
                <input type="password"
                       ng-class="{'error-input': vm.settingObj.reqpassword != vm.settingObj.password &&  base.reqpassword.$touched}"
                       name="reqpassword" class="form-control" placeholder="再次输入密码" ng-model="vm.settingObj.reqpassword"
                       maxlength="8" minlength="8" required/>
                <div class="help-block error-font"
                     ng-if="(vm.settingObj.reqpassword != vm.settingObj.password) && base.reqpassword.$touched">
                  请与原密码保持一致
                </div>
                <span class="input-result"
                      ng-if="(vm.settingObj.reqpassword === vm.settingObj.password)  && base.reqpassword.$touched && base.reqpassword.$valid"><i
                  class="fa fa-check"></i></span>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-success':vm.unitaddr.province && vm.unitaddr.city}">
              <div class="col-md-2 control-label">
                <label>单位所在地</label>
              </div>
              <div class="col-md-5">
                <select name="province" class="form-control" ng-model="vm.unitaddr.province"
                        ng-options="i.id as i.name for i in vm.provinces" required>
                  <option value="">请选择省份</option>
                </select>
              </div>
              <div class="col-md-5">
                <select name="city" class="form-control" ng-model="vm.unitaddr.city"
                        ng-options="i.id as i.name for i in vm.cities" required>
                  <option value="">请选择市</option>
                </select>
              </div>
            </div>

            <div class="form-group"
                 ng-class="{'has-success': base.dobusiness.$valid || vm.settingObj.dobusiness === '2099-12-31'}">
              <div class="col-md-2 control-label">
                <label for="">营业期限</label>
              </div>
              <div class="col-md-5" ng-if="vm.settingObj.dobusiness != '2099-12-31'">
                <div class="input-group">
                  <input type="text" name="dobusiness" class="form-control input-sm" datetime-picker="yyyy-MM-dd"
                         enable-time="false"
                         save-as="true" ng-model="vm.settingObj.dobusiness" is-open="dateOptions.showStartTime"
                         datepicker-options="vm.dateOptions" placeholder="请选择营业期限"/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-sm"
                        ng-click="dateOptions.showStartTime = !dateOptions.showStartTime"><i
                  class="glyphicon glyphicon-calendar"></i></button>
            </span>
                </div>
              </div>
              <div class="col-md-5" style="padding-top: 4px">
                <label><input type="checkbox" ng-model="vm.settingObj.dobusiness" ng-true-value="'2099-12-31'"
                              ng-false-value=""/><span class="normal-weight"> 长期</span></label>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-success': base.orgcode.$valid}" ng-if="vm.settingObj.idtype == 0">
              <div class="col-md-2 control-label">
                <label for="">组织机构代码</label>
              </div>
              <div class="col-md-10">
                <input type="text"
                       ng-model="vm.settingObj.orgcode"
                       name="orgcode"
                       ng-class="{'error-input': ((base.orgcode.$error.required) && base.orgcode.$touched)}"
                       class="form-control"
                       placeholder="请输入正确的组织机构代码" required
                />
                <div class="help-block error-font" ng-if="(base.orgcode.$error.required) && base.orgcode.$touched">
                  组织机构代码不能为空
                </div>
                <span class="input-result" ng-if="base.orgcode.$valid"><i class="fa fa-check"></i></span>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-success': base.orgcode.$valid}" ng-if="vm.settingObj.idtype == 1">
              <div class="col-md-2 control-label">
                <label for="">统一社会信用代码</label>
              </div>
              <div class="col-md-10">
                <input type="text"
                       ng-model="vm.settingObj.orgcode"
                       name="orgcode"
                       ng-class="{'error-input': ((base.orgcode.$error.required) && base.orgcode.$touched)}"
                       class="form-control"
                       placeholder="请输入正确的统一社会信用代码" required
                />
                <div class="help-block error-font" ng-if="(base.orgcode.$error.required) && base.orgcode.$touched">
                  组织机构代码不能为空
                </div>
                <span class="input-result" ng-if="base.orgcode.$valid"><i class="fa fa-check"></i></span>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-success': base.legname.$valid}">
              <div class="col-md-2 control-label">
                <label for="">法定代表人姓名</label>
              </div>
              <div class="col-md-10">
                <input type="text"
                       name="legname"
                       ng-pattern="/^[\u2e80-\u9fff]+$/"
                       ng-class="{'error-input': ((base.legname.$error.required || base.legname.$error.pattern) && base.legname.$touched)}"
                       ng-model="vm.settingObj.legname"
                       class="form-control" placeholder="请输入法定代表人姓名" required
                />
                <div class="help-block error-font" ng-if="(base.legname.$error.required) && base.legname.$touched">
                  法定代表人姓名不能为空
                </div>
                <div class="help-block error-font" ng-if="base.legname.$error.pattern && base.legname.$touched">
                  请输入中文姓名
                </div>
                <!--<div class="help-block error-font" ng-if="(base.legname.$error.minlength || base.legname.$error.maxlength) && base.legname.$touched">长度应在2-5个字符</div>-->
                <span class="input-result" ng-if="base.legname.$valid"><i class="fa fa-check"></i></span>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-success': base.cardnum.$valid}">
              <div class="col-md-2 control-label">
                <label for="">身份证号</label>
              </div>
              <div class="col-md-10">
                <input type="text"
                       class="form-control"
                       ng-model="vm.settingObj.cardnum"
                       name="cardnum"
                       ng-minlength="18"
                       ng-maxlength="18"
                       ng-class="{'error-input': ((base.cardnum.$error.required || base.cardnum.$error.minlength) && base.cardnum.$touched)}"
                       placeholder="请输入正确的身份证号" required/>
                <div class="help-block error-font" ng-if="(base.cardnum.$error.required) && base.cardnum.$touched">
                  身份证号不能为空
                </div>
                <div class="help-block error-font"
                     ng-if="(base.cardnum.$error.minlength || base.cardnum.$error.maxlength) && base.cardnum.$touched">
                  长度必须为18位
                </div>
                <span class="input-result" ng-if="base.cardnum.$valid"><i class="fa fa-check"></i></span>
              </div>
            </div>
            <div class="form-group"
                 ng-class="{'has-success':base.validity.$valid || vm.settingObj.validity === '2099-12-31'}">
              <div class="col-md-2 control-label">
                <label>证件有效期</label>
              </div>
              <div class="col-md-5" ng-if="vm.settingObj.validity != '2099-12-31'">
                <div class="input-group">
                  <input type="text" name="validity" class="form-control input-sm"
                         datetime-picker="yyyy-MM-dd" enable-time="false"
                         ng-class="{'error-input': (base.starttime.$invalid && base.starttime.$touched)}"
                         save-as="true" ng-model="vm.settingObj.validity" is-open="dateOptions.showEndTime"
                         datepicker-options="vm.dateOptions" required placeholder="请选择证件有效期" readonly
                         style="background-color: #FFF"/>
           <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-sm"
                        ng-click="dateOptions.showEndTime = !dateOptions.showEndTime"><i
                  class="glyphicon glyphicon-calendar"></i></button>
            </span>
                </div>
                <!-- <div date-picker-self dt="vm.settingObj.validity"></div>-->
              </div>
              <div class="col-md-5" style="padding-top: 4px">
                <label><input type="checkbox" ng-true-value="'2099-12-31'" ng-false-value=""
                              ng-model="vm.settingObj.validity"/><span class="normal-weight"> 长期</span></label>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-success': base.rank.$valid}">
              <div class="col-md-2 control-label">
                <label>填写人身份</label>
              </div>
              <div class="col-md-5">
                <label class="margin-seven"><input type="radio" name="rank" ng-model="vm.settingObj.rank"
                                                   ng-value="'我是法定代表人'" required/><span
                  class="normal-weight"> 我是法定代表人</span></label>
              </div>
              <div class="col-md-5">
                <label class="margin-seven"><input type="radio" name="rank" ng-model="vm.settingObj.rank"
                                                   ng-value="'我是代理人'" required/><span
                  class="normal-weight"> 我是代理人</span></label>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-success': base.telnum.$valid}">
              <div class="col-md-2 control-label">
                <label for="">联系人手机号</label>
              </div>
              <div class="col-md-10">
                <input type="text"
                       class="form-control"
                       ng-model="vm.settingObj.telnum"
                       name="telnum"
                       ng-minlength="11"
                       ng-class="{'error-input': (base.telnum.$error.required || base.telnum.$error.tel || base.telnum.$error.pattern) && base.telnum.$touched}"
                       ng-maxlength="11"
                       ng-pattern="/^[0-9]{11}$/"
                       placeholder="请输入手机号" required
                />
          <span class="help-block error-font"
                ng-if="base.telnum.$error.required && base.telnum.$touched">手机号不能为空</span>
                <!--   <span class="help-block error-font"
                         ng-if="(base.telnum.$error.minlength || base.telnum.$error.maxlength)&& base.telnum.$touched">手机号必须为11位</span>-->
      <span class="help-block error-font"
            ng-if="(base.telnum.$error.tel || base.telnum.$error.pattern) && base.telnum.$touched">请输入正确的手机号</span>
                <span class="input-result" ng-if="base.telnum.$valid"><i class="fa fa-check"></i></span>
              </div>
            </div>
            <div class="form-group" style="border-bottom: none">
              <div class="col-md-10 col-md-offset-2">
                <button type="submit" class="btn btn-primary">保存</button>
                <!--<button type="submit" class="btn btn-primary" ng-disabled="base.$invalid">下一步</button>-->
              </div>
            </div>
          </form>
        </div>
        <div class="form-container" ng-if="vm.user.type === 1">
          <form class="form-horizontal" name="base" ng-submit="vm.saveFreelanceBase()">
            <div class="form-group" ng-class="{'has-success': base.pname.$valid}">
              <div class="col-md-2 control-label">
                <label>真实姓名</label>
              </div>
              <div class="col-md-10">
                <input type="text"
                       class="form-control"
                       ng-class="{'error-input': (base.pname.$error.pattern || base.pname.$error.required)  && base.pname.$touched}"
                       name='pname'
                       ng-model="vm.settingObj.pname"
                       ng-pattern="/^[\u2e80-\u9fff]+$/"
                       placeholder="请输入姓名" required readonly/>
                <span ng-if="base.pname.$error.pattern && base.pname.$touched"
                      class="help-block error-font">请输入中文名</span>
                <span ng-if="base.pname.$error.required && base.pname.$touched"
                      class="help-block error-font">姓名不能为空</span>
                <span class="input-result" ng-if="base.pname.$valid"><i class="fa fa-check"></i></span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-2 control-label">
                <label>上传照片</label>
              </div>
              <div class="col-md-3">
                <single-uploader url="vm.settingObj.imageurl"></single-uploader>
              </div>
              <div class="col-md-4">
                <p>点击左边加号区域，添加一张照片！</p>
                <p>一张友好,职业的照片能让人更信任，更薄接触你。</p>
                <p>与你沟通的人的数量会5位于羞于展示自我我的人。</p>
                <p>文件只支持JPG,PNG,PDF格式的图片 </p>
              </div>
              <div class="col-md-3">
                <img ng-src="{{vm.settingObj.imageurl}}" style="width: 80px;height: 120px;"
                     ng-if="vm.settingObj.imageurl"/>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-success':base.password.$valid}">
              <div class="col-md-2 control-label">
                <label for="">密码</label>
              </div>
              <div class="col-md-10">
                <input type="password"
                       name="password"
                       ng-model="vm.settingObj.password"
                       class="form-control"
                       ng-pattern="/^(?!([a-zA-Z]+|\d+)$)[a-zA-Z\d]{8}$/"
                       placeholder="密码必须为字母+数字,长度为8位"
                       ng-maxlength="8"
                       ng-minlength="8"
                       required/>
                <div class="help-block error-font"
                     ng-if="(base.password.$error.minlength || base.password.$error.maxlength) && base.password.$touched">
                  密码长度必须为8位
                </div>
                <div class="help-block error-font" ng-if="(base.password.$error.required) && base.password.$touched">
                  密码不能为空
                </div>
                <div class="help-block error-font" ng-if="(base.password.$error.pattern) && base.password.$touched">
                  密码必须为字母数字组合
                </div>
                <span class="input-result" ng-if="base.password.$valid"><i class="fa fa-check"></i></span>
              </div>
            </div>
            <div class="form-group"
                 ng-class="{'has-success': base.passwordagin.$valid && vm.settingObj.passwordagin === vm.settingObj.password }">
              <div class="col-md-2 control-label">
                <label for="">确认密码</label>
              </div>
              <div class="col-md-10">
                <input type="password"
                       ng-class="{'error-input': vm.settingObj.passwordagin != vm.settingObj.password &&  base.passwordagin.$touched}"
                       name="passwordagin" class="form-control" placeholder="再次输入密码"
                       ng-model="vm.settingObj.passwordagin"
                       maxlength="8" minlength="8" required/>
                <div class="help-block error-font"
                     ng-if="(vm.settingObj.passwordagin != vm.settingObj.password) && base.passwordagin.$touched">
                  请与原密码保持一致
                </div>
                <span class="input-result"
                      ng-if="(vm.settingObj.passwordagin === vm.settingObj.password)  && base.passwordagin.$touched && base.passwordagin.$valid"><i
                  class="fa fa-check"></i></span>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-success':vm.unitaddr.province && vm.unitaddr.city}">
              <div class="col-md-2 control-label">
                <label>现居住地</label>
              </div>
              <div class="col-md-5">
                <select name="province" id="province" class="form-control" ng-model="vm.unitaddr.province"
                        ng-options="i.id as i.name for i in vm.provinces" required>
                  <option value="">请选择省份</option>
                </select>
              </div>
              <div class="col-md-5">
                <select name="city" id="city" class="form-control" ng-model="vm.unitaddr.city"
                        ng-options="i.id as i.name for i in vm.cities" required>
                  <option value="">请选择市</option>
                </select>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-success': base.emailaddr.$valid}">
              <div class="col-md-2 control-label">
                <label>电子邮箱</label>
              </div>
              <div class="col-md-10">
                <input type="email"
                       class="form-control"
                       name="emailaddr"
                       required
                       ng-class="{'error-input': (base.emailaddr.$error.required || base.emailaddr.$error.pattern) &&  base.emailaddr.$touched}"
                       ng-model="vm.settingObj.emailaddr"
                       placeholder="请输入电子邮箱"
                       ng-pattern="/^[0-9|A-z|_]{1,17}[@][0-9|A-z]{1,}.(com)$/"
                />
                <div class="help-block error-font" ng-if="(base.emailaddr.$error.required) && base.emailaddr.$touched">
                  邮箱不能为空
                </div>
                <div class="help-block error-font" ng-if="(base.emailaddr.$error.pattern) && base.emailaddr.$touched">
                  请输入正确的邮箱
                </div>
                <span class="input-result" ng-if="base.emailaddr.$valid"><i class="fa fa-check"></i></span>
              </div>
            </div>
          <!--  <div class="form-group" ng-class="{'has-success': vm.settingObj.job}">
              <div class="col-md-2 control-label">
                <label>工作职位</label>
              </div>
              <div class="col-md-10">
                <select ng-model="vm.settingObj.job" class="form-control"
                        ng-options="i.name as i.name for i in vm.jobs">
                  <option value="">请选择</option>
                </select>
              </div>
            </div>-->
            <div class="form-group" ng-class="{'has-success': base.jobage.$valid}">
              <div class="col-md-2 control-label">
                <label>工作年限</label>
              </div>
              <div class="col-md-10">
                <select name="jobage" class="form-control" ng-model="vm.settingObj.jobage"
                        ng-options="i.id as i.name for i in vm.jobAges" required>
                  <option value="">请选择工作年限</option>
                </select>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-success': base.engrade.$valid}">
              <div class="col-md-2 control-label">
                <label>英语能力</label>
              </div>
              <div class="col-md-10">
                <select class="form-control" ng-model="vm.settingObj.engrade" name="engrade" required
                        ng-options="i.id as i.name for i in vm.EnglishLevel">
                  <option value="">请选择</option>
                </select>
              </div>
            </div>
            <div class="form-group" style="border-bottom: none">
              <div class="col-md-10 col-md-offset-2">
                <button type="submit" class="btn btn-primary">保存</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </uib-accordion>
  <uib-accordion close-others="oneAtATime">
    <div uib-accordion-group class="panel-default" is-open="status.open">
      <uib-accordion-heading>
        行业经验 <i class="glyphicon"
                ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </uib-accordion-heading>
      <div class="row" style="position: relative;margin-top: 20px">
        <form class="form-container form-horizontal" ng-submit="vm.saveExperience()"
              style="padding-right: 0;border: none;">
          <div class="row">
            <div class="col-md-10 col-md-offset-2 font-prompt">
              <p>您过去项目所在的行业有哪些？</p>
              <p>这便于您作为资深的经验者，更好的承接新项目</p>
            </div>
          </div>
          <div class="form-group" style="border-bottom: none">
            <div class="col-md-2 control-label" style="padding-top: 0">
              <label>行业经验选择</label>
            </div>
            <div class="col-md-10">
              <div ng-repeat="i in vm.experiences">
                <label class="normal-weight"><input type="checkbox" name="choice" ng-model="vm.model[$index + 1]"
                                                    ng-true-value="{{i.id}}"/>
                  <span> {{i.name}}</span></label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-offset-2 col-md-10" style="margin-top: 30px">
              <button class="btn btn-primary" type="submit">保存</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </uib-accordion>
  <uib-accordion close-others="oneAtATime" ng-if="!(vm.user.type === 0 && vm.user.basetype === 0)">
    <div uib-accordion-group class="panel-default" is-open="status.open">
      <uib-accordion-heading>
        擅长技能 <i class=" glyphicon"
                ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </uib-accordion-heading>
      <div class="row" style="position: relative;margin-top: 20px">
        <div class="form-container" style="margin-top: 20px">
          <form class="form-horizontal" name="base" ng-submit="vm.saveSkills()">
            <!--  <div class="form-group" ng-repeat="skill in vm.skills">
                <div class="col-md-2 control-label" style="padding-top: 0">
                  <label>{{skill.remark}}</label>
                </div>
                <div class="col-md-2" ng-repeat="i in skill.diclist track by $index"
                     ng-class="{'col-md-offset-2': $index%5 === 0 && $index != 0}">
                  <label class="normal-weight"><input type="checkbox" name="choice" ng-model="vm.skill[i.id]"
                                                      ng-true-value="{{i.id}}"/><span> {{i.name}}</span></label><br>
                </div>
              </div>-->
            <div class="form-group" ng-repeat="skill in vm.skills" ng-if="$index < 2">
              <div class="col-md-2 control-label" style="padding-top: 0">
                <label>{{skill.remark}}</label>
              </div>
              <div class="col-md-2" ng-repeat="i in skill.diclist track by $index"
                   ng-class="{'col-md-offset-2': $index%5 === 0 && $index != 0}">
                <label class="normal-weight"><input type="checkbox" name="choice" ng-model="vm.skill[i.id]"
                                                    ng-true-value="{{i.id}}"/><span> {{i.name}}</span></label><br>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-2 control-label" style="padding-top: 0;color: #3285ff;cursor: pointer"
                   ng-click="show = !show">
                <label>更多技术细节</label><span> <i class="fa fa-plus" ng-if="!show"></i> <i class="fa fa-minus"
                                                                                    ng-if="show"></i></span>
              </div>
            </div>
            <div class="form-group" ng-repeat="skill in vm.skills" ng-if="$index >= 2 && show">
              <div class="col-md-2 control-label" style="padding-top: 0">
                <label>{{skill.remark}}</label>
              </div>
              <div class="col-md-2" ng-repeat="i in skill.diclist track by $index"
                   ng-class="{'col-md-offset-2': $index%5 === 0 && $index != 0}">
                <label class="normal-weight"><input type="checkbox" name="choice" ng-model="vm.skill[i.id]"
                                                    ng-true-value="{{i.id}}"/><span> {{i.name}}</span></label><br>
              </div>
            </div>
            <div class="form-group" ng-if="show">
              <div class="col-md-2 control-label" style="padding-top: 0">
                <label>其他</label>
              </div>
              <div class="col-md-8">
                <input type="text" ng-model="vm.settingObj.other" class="form-control" placeholder="可输入其他技能，多个技能可用逗号分隔，例如：COBOL，Ruby">
              </div>
            </div>
            <div class="form-group" style="border-bottom: none">
              <div class="col-md-10 col-md-offset-2">
                <button type="submit" class="btn btn-primary">保存</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </uib-accordion>
  <uib-accordion close-others="oneAtATime">
    <div uib-accordion-group class="panel-default" is-open="status.open">
      <uib-accordion-heading>
        <span ng-if="vm.user.type === 0">企业认证</span><span ng-if="vm.user.type === 1">履历&经验</span> <i
        class="glyphicon"
        ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </uib-accordion-heading>
      <div class="row" style="position: relative;margin-top: 20px">
        <div class="form-container" ng-if="vm.user.type === 0">
          <form class="form-horizontal" ng-submit="vm.saveQua()">
            <div class="form-group">
              <div class="col-md-2 control-label">
                <label>企业认证</label>
              </div>
              <div class="col-md-3" style="text-align: center">
                <label>企业认证名称</label>
              </div>
              <div class="col-md-3" style="text-align: center">
                <label>上传企业认证</label>
                <!--<single-uploader url="vm.base.url"></single-uploader>-->
              </div>
              <div class="col-md-2" style="text-align: center">
                <label>企业认证展示</label>
                <!--<single-uploader url="vm.base.url"></single-uploader>-->
              </div>
              <div class="col-md-2">
                <label>操作</label>
              </div>
            </div>
            <div class="form-group" ng-repeat="i in vm.add.qualifications track by $index">
              <div class="col-md-2" style="text-align: right">
                <span>（可选）</span>
              </div>
              <div class="col-md-3">
                <input type="text" class="form-control" ng-model="i.zname" required placeholder="例如：ISO9000质量体系认证">
              </div>
              <div class="col-md-3">
                <single-uploader url="i.zzurl"></single-uploader>
              </div>
              <div class="col-md-2 -align-center">
                <img ng-src="{{i.zzurl}}" style="width: 100px; height: 70px;padding: 4px;"/>
              </div>
              <div class="col-md-2">
                <div class="btn btn-danger" ng-disabled="vm.add.qualifications.length === 1"
                     ng-click="vm.removeOption($index)">删除
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-2 col-md-offset-10">
                <div class="btn btn-primary" ng-click="vm.addOption()" ng-disabled="vm.addTag">添加</div>
              </div>
            </div>
            <div class="form-group" style="border-bottom: none">
              <div class="col-md-10 col-md-offset-2">
                <button type="submit" class="btn btn-primary">保存</button>
              </div>
            </div>
          </form>
        </div>
        <div class="form-container" ng-if="vm.user.type === 1">
          <form class="form-horizontal" name="resume" ng-submit="vm.FreelanceResume()">
            <div class="form-group" ng-class="{'has-success': resume.levels.$valid}">
              <div class="col-md-2 control-label">
                <label>能力级别</label>
              </div>
              <div class="col-md-10">
                <select class="form-control" required name="levels" ng-model="vm.settingObj.levels"
                        ng-options="i.id as i.name for i in vm.levels">
                  <option value="">请选择</option>
                </select>
              </div>
            </div>
          <!--  <div class="form-group" ng-class="{'has-success': resume.expectjob.$valid}">
              <div class="col-md-2 control-label">
                <label>期望职位</label>
              </div>
              <div class="col-md-10">
                <select ng-model="vm.settingObj.expectjob" required name="expectjob" class="form-control"
                        ng-options="i.name as i.name for i in vm.jobs">
                  <option value="">请选择</option>
                </select>
              </div>
            </div>-->
            <div class="form-group" ng-class="{'has-success': resume.wage.$valid}">
              <div class="col-md-2 control-label">
                <label>期望日薪</label>
              </div>
              <div class="col-md-5">
                <input type="number"
                       class="form-control"
                       name="wage"
                       ng-model="vm.settingObj.moneys"
                       ng-class="{'error-input': resume.wage.$error.required && resume.wage.$touched}"
                       placeholder="请输入期望日薪"
                       required
                />
                <div class="help-block error-font" ng-if="(resume.wage.$error.required) && resume.wage.$touched">
                  期望日薪不能为空
                </div>
                <span class="input-result" ng-if="resume.wage.$valid"><i class="fa fa-check"></i></span>
              </div>
              <div class="col-md-5 margin-seven">
                <span>元/天</span>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-success': resume.history.$valid}">
              <div class="col-md-2 control-label">
                <label>雇佣历史</label>
              </div>
              <div class="col-md-10">
        <textarea class="form-control"
                  ng-class="{'error-input': (resume.history.$error.minlength || resume.history.$error.required) && resume.history.$touched}"
                  name="history" required placeholder="请输入雇佣历史,不得少于10个字符" minlength="10"
                  ng-model="vm.settingObj.history"></textarea>
                <div class="help-block error-font" ng-if="resume.history.$error.required && resume.history.$touched">
                  雇佣历史不能为空
                </div>
                <div class="help-block error-font" ng-if="resume.history.$error.minlength && resume.history.$touched">
                  不得少于10个字
                </div>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-success': resume.proexperience.$valid}">
              <div class="col-md-2 control-label">
                <label>项目履历</label>
              </div>
              <div class="col-md-10">
        <textarea class="form-control"
                  ng-class="{'error-input': (resume.proexperience.$error.minlength || resume.proexperience.$error.required) && resume.proexperience.$touched}"
                  name="proexperience" ng-model="vm.settingObj.proexperience" placeholder="请输入项目履历,不得少于10个字符"
                  minlength="10"
                  required="required"></textarea>
                <div class="help-block error-font"
                     ng-if="resume.proexperience.$error.required && resume.proexperience.$touched">项目履历不能为空
                </div>
                <div class="help-block error-font"
                     ng-if="resume.proexperience.$error.minlength && resume.proexperience.$touched">不得少于10个字
                </div>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-success': resume.educational.$valid}">
              <div class="col-md-2 control-label">
                <label>教育背景</label>
              </div>
              <div class="col-md-10">
        <textarea class="form-control" name="educational" ng-model="vm.settingObj.educational"
                  ng-class="{'error-input': (resume.educational.$error.minlength || resume.educational.$error.required) && resume.educational.$touched}"
                  placeholder="请输入教育背景,不得少于10个字符" minlength="10" required="required"></textarea>
                <div class="help-block error-font"
                     ng-if="resume.educational.$error.required && resume.educational.$touched">项目履历不能为空
                </div>
                <div class="help-block error-font"
                     ng-if="resume.educational.$error.minlength && resume.educational.$touched">不得少于10个字
                </div>
              </div>
            </div>
           <!-- <div class="form-group" ng-class="{'has-success': resume.certificate.$valid}">
              <div class="col-md-2 control-label">
                <label>资格证书</label>
              </div>
              <div class="col-md-10">
                <select class="form-control" name="certificate" required ng-model="vm.settingObj.certificate"
                        ng-options="i.id as i.name for i in vm.certificates">
                  <option value="">请选择资格证书</option>
                </select>
              </div>
            </div>-->
            <div class="form-group">
              <div class="col-md-2 control-label" style="padding-left: 0">
                <label>其他信息（可选填）</label>
              </div>
              <div class="col-md-10">
                <textarea class="form-control" name="other" ng-model="vm.settingObj.oth"
                          placeholder="请输入其他信息。例：取得过Oracle高级认证。"></textarea>
              </div>
            </div>
            <div class="form-group" style="border-bottom: none">
              <div class="col-md-10 col-md-offset-2">
                <button type="submit" class="btn btn-primary">保存</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </uib-accordion>
  <!-- <div class="row no-margin base-list dropdown">
     <div class="base-list-name"><strong>基本信息</strong></div>
     <hr>
     <div class="base-list-btn" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
       <i class="fa fa-x fa-pencil-square-o" aria-hidden="true"></i> 编辑
     </div>
   </div>-->
</div>
